<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bbut.iy.itemmaster.dao.CashierDetailMapper">

    <resultMap id="ResultMap" type="cn.com.bbut.iy.itemmaster.dto.cashierDetail.SaleHead">
        <result column="acc_date" property="accDate" jdbcType="VARCHAR" />
        <result column="store_cd" property="storeCd" jdbcType="VARCHAR" />
        <result column="pos_id" property="posId" jdbcType="VARCHAR" />
        <result column="tran_serial_no" property="tranSerialNo" jdbcType="INTEGER" />
        <result column="tran_date" property="tranDate" jdbcType="VARCHAR" />
        <result column="tran_time" property="tranTime" jdbcType="VARCHAR" />
        <result column="sale_serial_no" property="saleSerialNo" jdbcType="INTEGER" />
        <result column="member_id" property="memberId" jdbcType="VARCHAR" />
        <result column="sale_amount" property="saleAmount" jdbcType="NUMERIC" />
        <result column="over_amount" property="overAmount" jdbcType="NUMERIC" />
        <result column="pay_cd1" property="payCd1" jdbcType="VARCHAR" />
        <result column="pay_cd2" property="payCd2" jdbcType="VARCHAR" />
        <result column="pay_cd3" property="payCd3" jdbcType="VARCHAR" />
        <result column="pay_cd4" property="payCd4" jdbcType="VARCHAR" />
        <result column="pay_amount1" property="payAmount1" jdbcType="NUMERIC" />
        <result column="pay_amount2" property="payAmount2" jdbcType="NUMERIC" />
        <result column="pay_amount3" property="payAmount3" jdbcType="NUMERIC" />
        <result column="pay_amount4" property="payAmount4" jdbcType="NUMERIC" />
        <result column="pay_amount" property="payAmount" jdbcType="NUMERIC" />
    </resultMap>

    <select id="getCashier" parameterType="java.lang.String" resultType="cn.com.bbut.iy.itemmaster.entity.sa0050.SA0050">
        SELECT
            B.cashier_id AS cashierId,
            B.cashier_name AS cashierName
        FROM
            sa0080 A,
            sa0050 B
        WHERE
            A.store_cd = #{storeCd}
            AND A.pos_id = #{posId}
            AND A.cashier_id = B.cashier_id
    </select>

    <select id="getAllPay" resultType="cn.com.bbut.iy.itemmaster.dto.cashierDetail.PayMethod">
        select distinct pay_cd payCd,pay_name_print payNamePrint from sa0000 where effective_sts = '10'
    </select>

    <select id="getSaleHead" parameterType="cn.com.bbut.iy.itemmaster.dto.cashierDetail.CashierDetailParam" resultMap="ResultMap">
        SELECT DISTINCT sa0010.acc_date,
        sa0010.store_cd,
        sa0010.pos_id,
        sa0010.tran_serial_no,
        concat(cbs.billno,cbs.transid) as billSaleNo,
        to_char(sa0010.tran_date,'YYYYMMDD') AS tran_date,
        to_char(sa0010.tran_date,'HH24:MI:SS') AS tran_time,
        case when
        <![CDATA[
                 sa0010.tran_date >= to_timestamp(to_char(sa0010.tran_date, 'YYYYMMDD')||' 06:00:00','yyyyMMdd hh24:mi:ss')
                 and sa0010.tran_date < to_timestamp(to_char(sa0010.tran_date, 'YYYYMMDD')||' 14:00:00','yyyyMMdd hh24:mi:ss') then 'shift1'
             when sa0010.tran_date >= to_timestamp(to_char(sa0010.tran_date, 'YYYYMMDD')||' 14:00:00','yyyyMMdd hh24:mi:ss')
                 and sa0010.tran_date < to_timestamp(to_char(sa0010.tran_date, 'YYYYMMDD')||' 22:00:00','yyyyMMdd hh24:mi:ss') then 'Shift2'
             when (sa0010.tran_date < to_timestamp(to_char(sa0010.tran_date, 'YYYYMMDD')||' 06:00:00','yyyyMMdd hh24:mi:ss')
        or sa0010.tran_date >= to_timestamp(to_char(sa0010.tran_date, 'YYYYMMDD')||' 22:00:00','yyyyMMdd hh24:mi:ss')) then 'Shift3' end
        ]]> As shift,
        sa0010.sale_serial_no,
        sa0010.cashier_id,
        sa0010.member_id,
        coalesce(sa0010.sale_amount,0) sale_amount,
        coalesce(sa0010.over_amount,0) over_amount,
        sa0010.pay_cd1,
        sa0010.pay_cd2,
        sa0010.pay_cd3,
        sa0010.pay_cd4,
        sa0010.pay_amount1,
        sa0010.pay_amount2,
        sa0010.pay_amount3,
        sa0010.pay_amount4,
        (coalesce(sa0010.sale_amount,0)-coalesce(sa0010.over_amount,0)) AS pay_amount
        FROM
        <choose>
            <when test="(barcode==null or barcode == '' )and (articleShortName == null or articleShortName == '')">
                sa0010
                left join sa0710 cbs
                on sa0010.store_cd = cbs.store_cd
                AND sa0010.pos_id = cbs.pos_id
                AND sa0010.tran_serial_no = CAST ( cbs.tran_serial_no AS INTEGER )
                AND to_char(sa0010.tran_date,'yyyyMMdd') = to_char(cbs.tran_date,'yyyyMMdd')
            </when>
            <otherwise>
                sa0010
                left join sa0710 cbs
                on sa0010.store_cd = cbs.store_cd
                AND sa0010.pos_id = cbs.pos_id
                AND sa0010.tran_serial_no = CAST ( cbs.tran_serial_no AS INTEGER )
                AND to_char(sa0010.tran_date,'yyyyMMdd') = to_char(cbs.tran_date,'yyyyMMdd')
                join sa0020 on
                sa0010.acc_date = sa0020.acc_date
                AND sa0010.store_cd = sa0020.store_cd
                AND sa0010.pos_id = sa0020.pos_id
                AND sa0010.tran_serial_no = sa0020.tran_serial_no
                <if test="barcode != null and barcode != ''">
                    and (
                    lower(sa0020.barcode) like lower(CONCAT('%',#{barcode,jdbcType=VARCHAR},'%'))
                    )
                </if>
                join ma1100 on sa0020.article_id = ma1100.article_id
                <if test="articleShortName != null and articleShortName != ''">
                    and(
                    lower(ma1100.article_id) like lower(CONCAT('%',#{articleShortName,jdbcType=VARCHAR},'%'))
                    or lower(ma1100.article_short_name) like lower(CONCAT('%',#{articleShortName,jdbcType=VARCHAR},'%'))
                    )
                </if>
            </otherwise>
        </choose>
        where 1=1
        <if test="billSaleNo!=null and billSaleNo != ''">
            <choose>
                <when test="billFlg == 1">
                    AND cbs.transid like concat('%',#{ billSaleNo },'%')
                </when>
                <otherwise>
                    AND cbs.billno like concat('%',#{ billSaleNo },'%')
                </otherwise>
            </choose>
        </if>
        and sa0010.store_cd IN
        <foreach item="store" index="index" collection="stores"
                 open="(" separator="," close=")">
            #{store,jdbcType=VARCHAR}
        </foreach>
        <if test="startDate!=null and startDate!=''">
            <![CDATA[
                and sa0010.tran_date >= TO_TIMESTAMP(#{startDate,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss')
                ]]>
        </if>
        <if test="endDate!=null and endDate!=''">
            <![CDATA[
                and sa0010.tran_date < TO_TIMESTAMP(#{endDate,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss')
                ]]>
        </if>
        <if test="cashierId!=null and cashierId!=''">
            and sa0010.cashier_id = #{cashierId,jdbcType=VARCHAR}
        </if>
        <if test="memberId!=null and memberId!=''">
            and sa0010.member_id = #{memberId,jdbcType=VARCHAR}
        </if>
        <if test="tranSerialNo!=null and tranSerialNo!=''">
            and cast(sa0010.tran_serial_no as VARCHAR) like concat('%',#{tranSerialNo,jdbcType=VARCHAR},'%')
        </if>
        <if test="saleSerialNo!=null and saleSerialNo!=''">
            and cast(sa0010.sale_serial_no as VARCHAR) like concat('%',#{saleSerialNo,jdbcType=VARCHAR},'%')
        </if>
        <if test="posId!=null and posId!=''">
            and sa0010.pos_id = #{posId,jdbcType=VARCHAR}
        </if>
        <if test="payType!=null and payType!=''">
                        <if test="payType=='99'">
                            <![CDATA[
                            and sa0010.sale_amount ${calType} #{payAmt,jdbcType=NUMERIC}
                            ]]>
                        </if>



            <if test="payType!='99'">
                <choose>
                    <when test="payType=='01' and payAmt >=0">
                    <![CDATA[
                   and ( (sa0010.pay_cd1 = #{payType,jdbcType=VARCHAR} and sa0010.pay_amount1 - sa0010.change_amount ${calType} #{payAmt,jdbcType=NUMERIC})
                    or (sa0010.pay_cd2 = #{payType,jdbcType=VARCHAR} and sa0010.pay_amount2 - sa0010.change_amount ${calType} #{payAmt,jdbcType=NUMERIC})
                    or (sa0010.pay_cd3 = #{payType,jdbcType=VARCHAR} and sa0010.pay_amount3 - sa0010.change_amount ${calType} #{payAmt,jdbcType=NUMERIC})
                    or (sa0010.pay_cd4 = #{payType,jdbcType=VARCHAR} and sa0010.pay_amount4 - sa0010.change_amount ${calType} #{payAmt,jdbcType=NUMERIC}))
                    ]]>
                    </when>
                </choose>
                <choose>
                    <when test="payType!='01' and payAmt >=0">
                        <![CDATA[
                   and ( (sa0010.pay_cd1 = #{payType,jdbcType=VARCHAR} and sa0010.pay_amount1  ${calType} #{payAmt,jdbcType=NUMERIC})
                    or (sa0010.pay_cd2 = #{payType,jdbcType=VARCHAR} and sa0010.pay_amount2  ${calType} #{payAmt,jdbcType=NUMERIC})
                    or (sa0010.pay_cd3 = #{payType,jdbcType=VARCHAR} and sa0010.pay_amount3  ${calType} #{payAmt,jdbcType=NUMERIC})
                    or (sa0010.pay_cd4 = #{payType,jdbcType=VARCHAR} and sa0010.pay_amount4  ${calType} #{payAmt,jdbcType=NUMERIC}))
                    ]]>
                    </when>
                </choose>
            </if>
        </if>
        <if test="payAmt!=null and payAmt!='' and (payType==null or payType=='')">
            <![CDATA[
            and (sa0010.sale_amount - sa0010.over_amount) ${calType} #{payAmt,jdbcType=NUMERIC}
            ]]>
        </if>

        <if test="shift!=null and shift=='00'">
            <![CDATA[
            and sa0010.tran_date >= to_timestamp(to_char(sa0010.tran_date,'yyyyMMdd')||' 06:00:00','yyyyMMdd hh24:mi:ss')
            and sa0010.tran_date < to_timestamp(to_char(sa0010.tran_date,'yyyyMMdd')||' 14:00:00','yyyyMMdd hh24:mi:ss')
            ]]>
        </if>
        <if test="shift!=null and shift=='01'">
            <![CDATA[
            and sa0010.tran_date >= to_timestamp(to_char(sa0010.tran_date,'yyyyMMdd')||' 14:00:00','yyyyMMdd hh24:mi:ss')
            and sa0010.tran_date < to_timestamp(to_char(sa0010.tran_date,'yyyyMMdd')||' 22:00:00','yyyyMMdd hh24:mi:ss')
            ]]>
        </if>
        <if test="shift!=null and shift=='02'">
            <![CDATA[
            and (sa0010.tran_date < to_timestamp(to_char(sa0010.tran_date,'yyyyMMdd')||' 06:00:00','yyyyMMdd hh24:mi:ss')
            or sa0010.tran_date >= to_timestamp(to_char(sa0010.tran_date,'yyyyMMdd')||' 22:00:00','yyyyMMdd hh24:mi:ss'))
            ]]>
        </if>

        and sa0010.tran_type IN ( 'sale', 'return' )

        order by sa0010.acc_date,sa0010.pos_id,sa0010.tran_serial_no ASC
        <if test="flg and limitStart >= 0">
            limit ${limitEnd} offset ${limitStart}
        </if>
    </select>
    <select id="getSaleHeadAmount" parameterType="cn.com.bbut.iy.itemmaster.dto.cashierDetail.CashierDetailParam" resultType="BigDecimal">
      select SUM(sale_amount) from  (SELECT sa0010.acc_date,
        sa0010.store_cd,
        sa0010.pos_id,
        sa0010.tran_serial_no,
        concat(cbs.billno,cbs.transid) as billSaleNo,
        to_char(sa0010.tran_date,'YYYYMMDD') AS tran_date,
        to_char(sa0010.tran_date,'HH24:MI:SS') AS tran_time,
        case when
        <![CDATA[
                 sa0010.tran_date >= to_timestamp(sa0010.acc_date||' 06:00:00','yyyyMMdd hh24:mi:ss')
                 and sa0010.tran_date < to_timestamp(sa0010.acc_date||' 14:00:00','yyyyMMdd hh24:mi:ss') then 'shift1'
             when sa0010.tran_date >= to_timestamp(sa0010.acc_date||' 14:00:00','yyyyMMdd hh24:mi:ss')
                 and sa0010.tran_date < to_timestamp(sa0010.acc_date||' 22:00:00','yyyyMMdd hh24:mi:ss') then 'Shift2'
             when (sa0010.tran_date < to_timestamp(sa0010.acc_date||' 06:00:00','yyyyMMdd hh24:mi:ss')
        or sa0010.tran_date >= to_timestamp(sa0010.acc_date||' 22:00:00','yyyyMMdd hh24:mi:ss')) then 'Shift3' end
        ]]> As shift,
        sa0010.sale_serial_no,
        sa0010.cashier_id,
        sa0010.member_id,
        coalesce(sa0010.sale_amount,0) sale_amount,
        coalesce(sa0010.over_amount,0) over_amount,
        sa0010.pay_cd1,
        sa0010.pay_cd2,
        sa0010.pay_cd3,
        sa0010.pay_cd4,
        sa0010.pay_amount1,
        sa0010.pay_amount2,
        sa0010.pay_amount3,
        sa0010.pay_amount4,
        (coalesce(sa0010.sale_amount,0) - coalesce(sa0010.over_amount,0)) AS pay_amount
        FROM
        <choose>
            <when test="(barcode==null or barcode == '' )and (articleShortName == null or articleShortName == '')">
                sa0010
                left join sa0710 cbs
                on sa0010.store_cd = cbs.store_cd
                AND sa0010.pos_id = cbs.pos_id
                AND sa0010.tran_serial_no = CAST ( cbs.tran_serial_no AS INTEGER )
                AND to_char(sa0010.tran_date,'yyyyMMdd') = to_char(cbs.tran_date,'yyyyMMdd')
            </when>
            <otherwise>
                sa0010
                left join sa0710 cbs
                on sa0010.store_cd = cbs.store_cd
                AND sa0010.pos_id = cbs.pos_id
                AND sa0010.tran_serial_no = CAST ( cbs.tran_serial_no AS INTEGER )
                AND to_char(sa0010.tran_date,'yyyyMMdd') = to_char(cbs.tran_date,'yyyyMMdd')
                join sa0020 on
                sa0010.acc_date = sa0020.acc_date
                AND sa0010.store_cd = sa0020.store_cd
                AND sa0010.pos_id = sa0020.pos_id
                AND sa0010.tran_serial_no = sa0020.tran_serial_no
                <if test="barcode != null and barcode != ''">
                    and (
                    lower(sa0020.barcode) like lower(CONCAT('%',#{barcode,jdbcType=VARCHAR},'%'))
                    )
                </if>
                join ma1100 on sa0020.article_id = ma1100.article_id
                <if test="articleShortName != null and articleShortName != ''">
                    and(
                    lower(ma1100.article_id) like lower(CONCAT('%',#{articleShortName,jdbcType=VARCHAR},'%'))
                    or lower(ma1100.article_short_name) like lower(CONCAT('%',#{articleShortName,jdbcType=VARCHAR},'%'))
                    )
                </if>
            </otherwise>
        </choose>
        where 1=1
        <if test="billSaleNo!=null and billSaleNo != ''">
            <choose>
                <when test="billFlg == 1">
                    AND cbs.transid like concat('%',#{ billSaleNo },'%')
                </when>
                <otherwise>
                    AND cbs.billno like concat('%',#{ billSaleNo },'%')
                </otherwise>
            </choose>
        </if>
        and sa0010.store_cd IN
        <foreach item="store" index="index" collection="stores"
                 open="(" separator="," close=")">
            #{store,jdbcType=VARCHAR}
        </foreach>
        <if test="startDate!=null and startDate!=''">
            <![CDATA[
                and sa0010.tran_date >= TO_TIMESTAMP(#{startDate,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss')
                ]]>
        </if>
        <if test="endDate!=null and endDate!=''">
            <![CDATA[
                and sa0010.tran_date < TO_TIMESTAMP(#{endDate,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss')
                ]]>
        </if>
        <if test="cashierId!=null and cashierId!=''">
            and sa0010.cashier_id = #{cashierId,jdbcType=VARCHAR}
        </if>
        <if test="tranSerialNo!=null and tranSerialNo!=''">
            and cast(sa0010.tran_serial_no as VARCHAR) like concat('%',#{tranSerialNo,jdbcType=VARCHAR},'%')
        </if>
        <if test="saleSerialNo!=null and saleSerialNo!=''">
            and cast(sa0010.sale_serial_no as VARCHAR) like concat('%',#{saleSerialNo,jdbcType=VARCHAR},'%')
        </if>
        <if test="memberId!=null and memberId!=''">
            and sa0010.member_id = #{memberId,jdbcType=VARCHAR}
        </if>
        <if test="posId!=null and posId!=''">
            and sa0010.pos_id = #{posId,jdbcType=VARCHAR}
        </if>
        <if test="payType!=null and payType!=''">
            <if test="payType=='99'">
                <![CDATA[
                and sa0010.sale_amount ${calType} #{payAmt,jdbcType=NUMERIC}
                ]]>
            </if>
            <if test="payType!='99'">
                <if test="payAmt > 0">
                    <![CDATA[
                   and ( (sa0010.pay_cd1 = #{payType,jdbcType=VARCHAR} and sa0010.pay_amount1 - sa0010.change_amount ${calType} #{payAmt,jdbcType=NUMERIC})
                    or (sa0010.pay_cd2 = #{payType,jdbcType=VARCHAR} and sa0010.pay_amount2 - sa0010.change_amount ${calType} #{payAmt,jdbcType=NUMERIC})
                    or (sa0010.pay_cd3 = #{payType,jdbcType=VARCHAR} and sa0010.pay_amount3 - sa0010.change_amount ${calType} #{payAmt,jdbcType=NUMERIC})
                    or (sa0010.pay_cd4 = #{payType,jdbcType=VARCHAR} and sa0010.pay_amount4 - sa0010.change_amount ${calType} #{payAmt,jdbcType=NUMERIC}))
                   ]]>
                </if>
            </if>
        </if>
        <if test="payAmt!=null and payAmt!='' and (payType==null or payType=='')">
            <![CDATA[
            and (sa0010.sale_amount - sa0010.over_amount) ${calType} #{payAmt,jdbcType=NUMERIC}
            ]]>
        </if>


        <if test="shift!=null and shift=='00'">
            <![CDATA[
            and sa0010.tran_date >= to_timestamp(to_char(sa0010.tran_date,'yyyyMMdd')||' 06:00:00','yyyyMMdd hh24:mi:ss')
            and sa0010.tran_date < to_timestamp(to_char(sa0010.tran_date,'yyyyMMdd')||' 14:00:00','yyyyMMdd hh24:mi:ss')
            ]]>
        </if>

        <if test="shift!=null and shift=='01'">
            <![CDATA[
            and sa0010.tran_date >= to_timestamp(to_char(sa0010.tran_date,'yyyyMMdd')||' 14:00:00','yyyyMMdd hh24:mi:ss')
            and sa0010.tran_date < to_timestamp(to_char(sa0010.tran_date,'yyyyMMdd')||' 22:00:00','yyyyMMdd hh24:mi:ss')
            ]]>
        </if>

        <if test="shift!=null and shift=='02'">
            <![CDATA[
            and (sa0010.tran_date < to_timestamp(to_char(sa0010.tran_date,'yyyyMMdd')||' 06:00:00','yyyyMMdd hh24:mi:ss')
            or sa0010.tran_date >= to_timestamp(to_char(sa0010.tran_date,'yyyyMMdd')||' 22:00:00','yyyyMMdd hh24:mi:ss'))
            ]]>
        </if>

        and sa0010.tran_type = 'sale'
        
        order by sa0010.acc_date,sa0010.pos_id,sa0010.tran_serial_no ASC)AS A

    </select>

    <select id="getSaleHeadCount" parameterType="cn.com.bbut.iy.itemmaster.dto.cashierDetail.CashierDetailParam" resultType="java.lang.Long">
    select count(1) from (SELECT DISTINCT sa0010.acc_date,
    sa0010.store_cd,
    sa0010.pos_id,
    sa0010.tran_serial_no,
    concat(cbs.billno,cbs.transid) as billSaleNo,
    to_char(sa0010.tran_date,'YYYYMMDD') AS tran_date,
    to_char(sa0010.tran_date,'HH24:MI:SS') AS tran_time,
    case when
    <![CDATA[
                 sa0010.tran_date >= to_timestamp(sa0010.acc_date||' 06:00:00','yyyyMMdd hh24:mi:ss')
                 and sa0010.tran_date < to_timestamp(sa0010.acc_date||' 14:00:00','yyyyMMdd hh24:mi:ss') then 'shift1'
             when sa0010.tran_date >= to_timestamp(sa0010.acc_date||' 14:00:00','yyyyMMdd hh24:mi:ss')
                 and sa0010.tran_date < to_timestamp(sa0010.acc_date||' 22:00:00','yyyyMMdd hh24:mi:ss') then 'Shift2'
             when (sa0010.tran_date < to_timestamp(sa0010.acc_date||' 06:00:00','yyyyMMdd hh24:mi:ss')
        or sa0010.tran_date >= to_timestamp(sa0010.acc_date||' 22:00:00','yyyyMMdd hh24:mi:ss')) then 'Shift3' end
        ]]> As shift,
    sa0010.sale_serial_no,
    sa0010.cashier_id,
    sa0010.member_id,
    sa0010.sale_amount,
    sa0010.over_amount,
    sa0010.pay_cd1,
    sa0010.pay_cd2,
    sa0010.pay_cd3,
    sa0010.pay_cd4,
    sa0010.pay_amount1,
    sa0010.pay_amount2,
    sa0010.pay_amount3,
    sa0010.pay_amount4,
    (coalesce(sa0010.sale_amount,0) - coalesce(sa0010.over_amount,0)) AS pay_amount
    FROM
        <choose>
            <when test="(barcode==null or barcode == '' )and (articleShortName == null or articleShortName == '')">
                sa0010
                left join sa0710 cbs
                on sa0010.store_cd = cbs.store_cd
                AND sa0010.pos_id = cbs.pos_id
                AND sa0010.tran_serial_no = CAST ( cbs.tran_serial_no AS INTEGER )
                AND to_char(sa0010.tran_date,'yyyyMMdd') = to_char(cbs.tran_date,'yyyyMMdd')
            </when>
            <otherwise>
                sa0010
                left join sa0710 cbs
                on sa0010.store_cd = cbs.store_cd
                AND sa0010.pos_id = cbs.pos_id
                AND sa0010.tran_serial_no = CAST ( cbs.tran_serial_no AS INTEGER )
                AND to_char(sa0010.tran_date,'yyyyMMdd') = to_char(cbs.tran_date,'yyyyMMdd')
                join sa0020 on
                sa0010.acc_date = sa0020.acc_date
                AND sa0010.store_cd = sa0020.store_cd
                AND sa0010.pos_id = sa0020.pos_id
                AND sa0010.tran_serial_no = sa0020.tran_serial_no
                <if test="barcode != null and barcode != ''">
                    and (
                    lower(sa0020.barcode) like lower(CONCAT('%',#{barcode,jdbcType=VARCHAR},'%'))
                    )
                </if>
                join ma1100 on sa0020.article_id = ma1100.article_id
                <if test="articleShortName != null and articleShortName != ''">
                    and(
                    lower(ma1100.article_id) like lower(CONCAT('%',#{articleShortName,jdbcType=VARCHAR},'%'))
                   or lower(ma1100.article_short_name) like lower(CONCAT('%',#{articleShortName,jdbcType=VARCHAR},'%'))
                    )
                </if>
            </otherwise>
        </choose>
        where 1=1
        <if test="billSaleNo!=null and billSaleNo != ''">
            <choose>
                <when test="billFlg == 1">
                    AND cbs.transid like concat('%',#{ billSaleNo },'%')
                </when>
                <otherwise>
                    AND cbs.billno like concat('%',#{ billSaleNo },'%')
                </otherwise>
            </choose>
        </if>
    and sa0010.store_cd IN
    <foreach item="store" index="index" collection="stores"
             open="(" separator="," close=")">
        #{store,jdbcType=VARCHAR}
    </foreach>
        <if test="startDate!=null and startDate!=''">
            <![CDATA[
                and sa0010.tran_date >= TO_TIMESTAMP(#{startDate,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss')
                ]]>
        </if>
        <if test="endDate!=null and endDate!=''">
            <![CDATA[
                and sa0010.tran_date < TO_TIMESTAMP(#{endDate,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss')
                ]]>
        </if>
    <if test="cashierId!=null and cashierId!=''">
        and sa0010.cashier_id = #{cashierId,jdbcType=VARCHAR}
    </if>
    <if test="memberId!=null and memberId!=''">
        and sa0010.member_id = #{memberId,jdbcType=VARCHAR}
    </if>
        <if test="tranSerialNo!=null and tranSerialNo!=''">
            and cast(sa0010.tran_serial_no as VARCHAR) like concat('%',#{tranSerialNo,jdbcType=VARCHAR},'%')
        </if>
    <if test="saleSerialNo!=null and saleSerialNo!=''">
        and cast(sa0010.sale_serial_no as VARCHAR) like concat('%',#{saleSerialNo,jdbcType=VARCHAR},'%')
    </if>
    <if test="posId!=null and posId!=''">
        and sa0010.pos_id = #{posId,jdbcType=VARCHAR}
    </if>
    <if test="payType!=null and payType!=''">
        <if test="payType=='99'">
            <![CDATA[
                and sa0010.sale_amount ${calType} #{payAmt,jdbcType=NUMERIC}
                ]]>
        </if>
        <if test="payType!='99'">
            <choose>
                <when test="payType=='01' and payAmt >=0">
                    <![CDATA[
                   and ( (sa0010.pay_cd1 = #{payType,jdbcType=VARCHAR} and sa0010.pay_amount1 - sa0010.change_amount ${calType} #{payAmt,jdbcType=NUMERIC})
                    or (sa0010.pay_cd2 = #{payType,jdbcType=VARCHAR} and sa0010.pay_amount2 - sa0010.change_amount ${calType} #{payAmt,jdbcType=NUMERIC})
                    or (sa0010.pay_cd3 = #{payType,jdbcType=VARCHAR} and sa0010.pay_amount3 - sa0010.change_amount ${calType} #{payAmt,jdbcType=NUMERIC})
                    or (sa0010.pay_cd4 = #{payType,jdbcType=VARCHAR} and sa0010.pay_amount4 - sa0010.change_amount ${calType} #{payAmt,jdbcType=NUMERIC}))
                    ]]>
                </when>
            </choose>
            <choose>
                <when test="payType!='01' and payAmt >=0">
                    <![CDATA[
                   and ( (sa0010.pay_cd1 = #{payType,jdbcType=VARCHAR} and sa0010.pay_amount1  ${calType} #{payAmt,jdbcType=NUMERIC})
                    or (sa0010.pay_cd2 = #{payType,jdbcType=VARCHAR} and sa0010.pay_amount2  ${calType} #{payAmt,jdbcType=NUMERIC})
                    or (sa0010.pay_cd3 = #{payType,jdbcType=VARCHAR} and sa0010.pay_amount3  ${calType} #{payAmt,jdbcType=NUMERIC})
                    or (sa0010.pay_cd4 = #{payType,jdbcType=VARCHAR} and sa0010.pay_amount4  ${calType} #{payAmt,jdbcType=NUMERIC}))
                    ]]>
                </when>
            </choose>
        </if>
    </if>
    <if test="payAmt!=null and payAmt!='' and (payType==null or payType=='')">
        <![CDATA[
            and (sa0010.sale_amount - sa0010.over_amount) ${calType} #{payAmt,jdbcType=NUMERIC}
            ]]>
    </if>

    /*--早班*/
    <if test="shift!=null and shift=='00'">
        <![CDATA[
            and sa0010.tran_date >= to_timestamp(to_char(sa0010.tran_date,'yyyyMMdd')||' 06:00:00','yyyyMMdd hh24:mi:ss')
            and sa0010.tran_date < to_timestamp(to_char(sa0010.tran_date,'yyyyMMdd')||' 14:00:00','yyyyMMdd hh24:mi:ss')
            ]]>
    </if>
    /*--中班*/
    <if test="shift!=null and shift=='01'">
        <![CDATA[
            and sa0010.tran_date >= to_timestamp(to_char(sa0010.tran_date,'yyyyMMdd')||' 14:00:00','yyyyMMdd hh24:mi:ss')
            and sa0010.tran_date < to_timestamp(to_char(sa0010.tran_date,'yyyyMMdd')||' 22:00:00','yyyyMMdd hh24:mi:ss')
            ]]>
    </if>
    /*--晚班*/
    <if test="shift!=null and shift=='02'">
        <![CDATA[
            and (sa0010.tran_date < to_timestamp(to_char(sa0010.tran_date,'yyyyMMdd')||' 06:00:00','yyyyMMdd hh24:mi:ss')
            or sa0010.tran_date >= to_timestamp(to_char(sa0010.tran_date,'yyyyMMdd')||' 22:00:00','yyyyMMdd hh24:mi:ss'))
            ]]>
    </if>

    and sa0010.tran_type = 'sale'
    
    order by sa0010.acc_date,sa0010.pos_id,sa0010.tran_serial_no ASC) as A
    </select>

    <select id="getPayDetail" resultType="cn.com.bbut.iy.itemmaster.dto.cashierDetail.PayMethod" parameterType="cn.com.bbut.iy.itemmaster.dto.cashierDetail.SaleHeadParam">
        SELECT
            store_cd,pos_id,tran_serial_no,pay_cd,pay_name_print,
            (CASE WHEN pay_cd = '01' THEN pay_amount - change_amount else pay_amount end) as pay_amount
            from
        (SELECT sa0010.store_cd,sa0010.pos_id,sa0010.tran_serial_no,sa0000.pay_cd,
                sa0000.pay_name_print,sa0010.change_amount,
                (case when sa0000.pay_cd = sa0010.pay_cd1 then sa0010.pay_amount1
                when sa0000.pay_cd = sa0010.pay_cd2 then sa0010.pay_amount2
                when sa0000.pay_cd = sa0010.pay_cd3 then sa0010.pay_amount3
                when sa0000.pay_cd = sa0010.pay_cd4 then sa0010.pay_amount4
                else 0 end) AS pay_amount
            FROM sa0010,sa0000
            WHERE sa0010.acc_date = #{accDate,jdbcType=VARCHAR}
                AND sa0010.store_cd = #{storeCd,jdbcType=VARCHAR}
                AND sa0010.pos_id = #{posId,jdbcType=VARCHAR}
                AND sa0010.tran_serial_no = #{tranSerialNo,jdbcType=INTEGER}
                AND sa0000.effective_sts = '10'
                AND (
		(
			(sa0000.structure_cd IS NULL or sa0000.structure_cd='' )
			AND sa0000.region_cd = (
			SELECT
				admin_structure_cd
			FROM
				MA0020
			WHERE
				structure_cd = ( SELECT admin_structure_cd FROM MA0020 WHERE structure_cd = ( SELECT admin_structure_cd FROM MA0020 WHERE structure_cd = #{storeCd,jdbcType=VARCHAR} AND effective_sts = '10' ) AND effective_sts = '10' )
				AND effective_sts = '10'
			)
		)
		OR (
			(sa0000.structure_cd IS NOT NULL and sa0000.structure_cd !='' )
			AND sa0000.structure_cd = ( SELECT admin_structure_cd FROM MA0020 WHERE structure_cd = ( SELECT admin_structure_cd FROM MA0020 WHERE structure_cd = #{storeCd,jdbcType=VARCHAR} AND effective_sts = '10' ) AND effective_sts = '10' )
		)
	)) T
         ORDER BY pay_cd ASC
    </select>

    <select id="getSaleDetailTotal" parameterType="cn.com.bbut.iy.itemmaster.dto.cashierDetail.SaleHeadParam" resultType="cn.com.bbut.iy.itemmaster.dto.cashierDetail.SaleDetail">
        SELECT sa0020.acc_date accDate,
        sa0020.store_cd storeCd,
        sa0020.pos_id posId,
        sa0020.tran_serial_no tranSerialNo,
        sa0020.sale_seq_no saleSeqNo,
        sa0020.barcode,
        ma1100.article_short_name articleShortName,
        ma1100.spec,
        ma0220.unit_name unitName,
        sa0020.price_original priceOriginal,
        sa0020.price_actual priceActual,
        sa0020.sale_qty saleQty,
        sa0020.sale_amount saleAmount,
        sa0020.discount_amount discountAmount
         FROM sa0020
         left join
         ma1100
         on sa0020.article_id = ma1100.article_id
        <![CDATA[
         AND ma1100.effective_start_date <= #{accDate,jdbcType=VARCHAR}
         AND ma1100.effective_end_date >= #{accDate,jdbcType=VARCHAR}
         ]]>
         left join ma0220
         on ma1100.sales_unit_id = ma0220.unit_id AND ma0220.effective_sts = '10'
         WHERE
         sa0020.acc_date = #{accDate,jdbcType=VARCHAR}
         AND sa0020.store_cd = #{storeCd,jdbcType=VARCHAR}
         AND sa0020.pos_id = #{posId,jdbcType=VARCHAR}
         AND sa0020.tran_serial_no = #{tranSerialNo,jdbcType=INTEGER}
         /*AND sa0020.detail_type = 's' 除了免费商品 */
         AND sa0020.detail_type in ('s','m','r','ms','ra','fg','mbn','mbs')
         ORDER BY sale_seq_no ASC
    </select>

    <select id="getSaleDetail" parameterType="cn.com.bbut.iy.itemmaster.dto.cashierDetail.SaleHeadParam" resultType="cn.com.bbut.iy.itemmaster.dto.cashierDetail.SaleDetail">
        SELECT sa0020.acc_date accDate,
        sa0020.store_cd storeCd,
        sa0020.pos_id posId,
        sa0020.tran_serial_no tranSerialNo,
        sa0020.sale_seq_no saleSeqNo,
        sa0020.barcode,
        ma1100.article_name articleShortName,
        ma1100.spec,
        ma0220.unit_name unitName,
        sa0020.price_original priceOriginal,
        sa0020.price_actual priceActual,
        sa0020.sale_qty saleQty,
        sa0020.sale_amount saleAmount,
        sa0020.discount_amount discountAmount
         FROM sa0020
         left join
         ma1100
         on sa0020.article_id = ma1100.article_id
        <![CDATA[
         AND ma1100.effective_start_date <= #{accDate,jdbcType=VARCHAR}
         AND ma1100.effective_end_date >= #{accDate,jdbcType=VARCHAR}
         ]]>
         left join ma0220
         on ma1100.sales_unit_id = ma0220.unit_id AND ma0220.effective_sts = '10'
         WHERE
         sa0020.acc_date = #{accDate,jdbcType=VARCHAR}
         AND sa0020.store_cd = #{storeCd,jdbcType=VARCHAR}
         AND sa0020.pos_id = #{posId,jdbcType=VARCHAR}
         AND sa0020.tran_serial_no = #{tranSerialNo,jdbcType=INTEGER}
         /*AND sa0020.detail_type = 's'*/
         AND sa0020.detail_type in ('s','m','r','ms','ra','fg','mbn','mbs')

         ORDER BY sale_seq_no ASC
         <if test="flg">
         LIMIT ${rows} OFFSET ${limitStart};
         </if>
    </select>

    <select id="getSaleDetailCount" parameterType="cn.com.bbut.iy.itemmaster.dto.cashierDetail.SaleHeadParam" resultType="java.lang.Long">
        SELECT count(*)
         FROM sa0020,ma1100,ma0220
         WHERE sa0020.article_id = ma1100.article_id
         AND ma1100.sales_unit_id = ma0220.unit_id
        <![CDATA[
         AND ma1100.effective_start_date <= #{accDate,jdbcType=VARCHAR}
         AND ma1100.effective_end_date >= #{accDate,jdbcType=VARCHAR}
         ]]>
         AND sa0020.acc_date = #{accDate,jdbcType=VARCHAR}
         AND sa0020.store_cd = #{storeCd,jdbcType=VARCHAR}
         AND sa0020.pos_id = #{posId,jdbcType=VARCHAR}
         AND sa0020.tran_serial_no = #{tranSerialNo,jdbcType=INTEGER}
         AND sa0020.detail_type in ('s','m','r','ms','ra','fg','mbn','mbs')
         AND ma0220.effective_sts = '10'
    </select>

    <select id="getExSaleDetail" resultType="cn.com.bbut.iy.itemmaster.dto.cashierDetail.SaleDetail">
        SELECT sa0020.acc_date accDate,
        sa0020.store_cd storeCd,
        sa0020.pos_id posId,
        sa0020.tran_serial_no tranSerialNo,
        sa0020.sale_seq_no saleSeqNo,
        sa0020.barcode,
        ma1100.article_name articleShortName,
        ma1100.spec,
        ma0220.unit_name unitName,
        sa0020.price_original priceOriginal,
        sa0020.price_actual priceActual,
        sa0020.sale_qty saleQty,
        sa0020.sale_amount saleAmount,
        sa0020.discount_amount discountAmount
        FROM sa0020
        left join
        ma1100
        on sa0020.article_id = ma1100.article_id
        left join ma0220
        on ma1100.sales_unit_id = ma0220.unit_id AND ma0220.effective_sts = '10'
        WHERE
        sa0020.store_cd = #{storeCd,jdbcType=VARCHAR}
        and (sa0020.store_cd||'_'||sa0020.pos_id || '_' || sa0020.tran_serial_no) in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        AND sa0020.detail_type in ('s','m','r','ms','ra','fg','mbn','mbs')
        ORDER BY sale_seq_no ASC
    </select>

    <select id="getExPayDetail" resultType="cn.com.bbut.iy.itemmaster.dto.cashierDetail.PayMethod">
        SELECT
            store_cd storeCd,pos_id posId,tran_serial_no tranSerialNo,pay_cd,pay_name_print,
            (CASE WHEN pay_cd = '01' THEN pay_amount - change_amount else pay_amount end) as pay_amount
            from
        (SELECT sa0010.store_cd,sa0010.pos_id,sa0010.tran_serial_no,sa0000.pay_cd,
                sa0000.pay_name_print,sa0010.change_amount,
                (case when sa0000.pay_cd = sa0010.pay_cd1 then sa0010.pay_amount1
                when sa0000.pay_cd = sa0010.pay_cd2 then sa0010.pay_amount2
                when sa0000.pay_cd = sa0010.pay_cd3 then sa0010.pay_amount3
                when sa0000.pay_cd = sa0010.pay_cd4 then sa0010.pay_amount4
                else 0 end) AS pay_amount
            FROM sa0010,sa0000
            WHERE
                sa0010.store_cd = #{storeCd,jdbcType=VARCHAR}
                and sa0010.store_cd||'_'||sa0010.pos_id || '_' || sa0010.tran_serial_no in
                <foreach item="item" index="index" collection="list"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
                AND sa0000.effective_sts = '10'
                AND (
		(
			(sa0000.structure_cd IS NULL or sa0000.structure_cd='' )
			AND sa0000.region_cd = (
			SELECT
				admin_structure_cd
			FROM
				MA0020
			WHERE
				structure_cd = ( SELECT admin_structure_cd FROM MA0020 WHERE structure_cd = ( SELECT admin_structure_cd FROM MA0020 WHERE structure_cd = #{storeCd,jdbcType=VARCHAR} AND effective_sts = '10' ) AND effective_sts = '10' )
				AND effective_sts = '10'
			)
		)
		OR (
			(sa0000.structure_cd IS NOT NULL and sa0000.structure_cd !='' )
			AND sa0000.structure_cd = ( SELECT admin_structure_cd FROM MA0020 WHERE structure_cd = ( SELECT admin_structure_cd FROM MA0020 WHERE structure_cd = #{storeCd,jdbcType=VARCHAR} AND effective_sts = '10' ) AND effective_sts = '10' )
		)
	)) T
         ORDER BY pay_cd ASC
    </select>
</mapper>