<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bbut.iy.itemmaster.dao.LockServiceMapper">
    <resultMap id="BaseResultMap" type="cn.com.bbut.iy.itemmaster.dto.LockServiceDTO">
        <result column="LOCK_KEY" property="lockKey" jdbcType="VARCHAR" />
        <result column="BUSINESS_CD" property="businessCd" jdbcType="VARCHAR" />
        <result column="SESSION_ID" property="sessionId" jdbcType="VARCHAR" />
        <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
        <result column="AP_SERVER_NAME" property="apServerName" jdbcType="VARCHAR" />
        <result column="LOCK_DATE" property="lockDate" jdbcType="VARCHAR" />
        <result column="WEB_APL_NAME" property="webAplName" jdbcType="VARCHAR" />
        <result column="CLIENT_IP" property="clientIp" jdbcType="VARCHAR" />
        <result column="ATTRIBUTES" property="attributes" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
		LOCK_KEY, BUSINESS_CD, SESSION_ID, USER_ID, AP_SERVER_NAME, LOCK_DATE,
		WEB_APL_NAME,
		CLIENT_IP, ATTRIBUTES
	</sql>

    <delete id="Delete" parameterType="map">
        DELETE FROM LOCKSERVICE
        <where>
            <if test="userId != null and userId != ''">
                <!--AND USER_ID = #{userId,jdbcType=VARCHAR}  -->
                AND USER_ID = #{userId,jdbcType=VARCHAR}
            </if>
            <if test="lockKey != null and lockKey != ''">
                AND LOCK_KEY = #{lockKey,jdbcType=VARCHAR}
            </if>
            <if test="sessionId != null and sessionId != ''">
                AND SESSION_ID = #{sessionId,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>

    <insert id="Save"
            parameterType="cn.com.bbut.iy.itemmaster.dto.LockServiceDTO">
		INSERT INTO LOCKSERVICE (LOCK_KEY, BUSINESS_CD, SESSION_ID,
		USER_ID, AP_SERVER_NAME, LOCK_DATE,
		WEB_APL_NAME, CLIENT_IP, ATTRIBUTES,
		CREATE_USER_ID, CREATE_YMD, CREATE_HMS)
		VALUES (#{lockKey,jdbcType=VARCHAR}, #{businessCd,jdbcType=VARCHAR},
		#{sessionId,jdbcType=VARCHAR},
		#{userId,jdbcType=VARCHAR}, #{apServerName,jdbcType=VARCHAR},
		TO_CHAR(current_timestamp,'YYYYMMDDHH24MISS'),
		#{webAplName,jdbcType=VARCHAR}, #{clientIp,jdbcType=VARCHAR}, #{attributes,jdbcType=VARCHAR},
		#{userId,jdbcType=VARCHAR}, TO_CHAR(current_timestamp,'YYYYMMDD'),
		TO_CHAR(current_timestamp,'HH24MISS'))
	</insert>

    <select id="Get" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List" />
        FROM LOCKSERVICE
        <where>
            <if test="userId != null and userId != ''">
                AND USER_ID = #{userId,jdbcType=VARCHAR}
            </if>
            <if test="lockKey != null and lockKey != ''">
                AND LOCK_KEY = #{lockKey,jdbcType=VARCHAR}
            </if>
            <if test="sessionId != null and sessionId != ''">
                AND SESSION_ID = #{sessionId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>