<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bbut.iy.itemmaster.dao.MA5321Mapper">

    <!-- 查询待选 -->
    <select id="selectWarehouse" resultType="cn.com.bbut.iy.itemmaster.dto.base.AutoCompleteDTO">
        SELECT warehouse_no AS k, CONCAT(warehouse_no,' ',warehouse_name) AS v
        FROM MA5321
        <where>
            <if test="v != null and v != ''">
                LOWER(warehouse_no) LIKE LOWER(CONCAT('%',#{v,jdbcType=VARCHAR},'%'))
                OR LOWER(warehouse_name) LIKE LOWER(CONCAT('%',#{v,jdbcType=VARCHAR},'%'))
            </if>
        </where>
    </select>
    <select id="selectWarehouseList" resultType="cn.com.bbut.iy.itemmaster.dto.base.AutoCompleteDTO">
        SELECT distinct MA5321.warehouse_no AS k, CONCAT( MA5321.warehouse_no,' ',MA5321.warehouse_name) AS v
        FROM MA5321 left join ma5323 ON MA5321.warehouse_no=ma5323.warehouse_no
        <where>
            1=1
            <if test="v != null and v != ''">
                and LOWER(MA5321.warehouse_no) LIKE LOWER(CONCAT('%',#{v,jdbcType=VARCHAR},'%'))
                OR LOWER(MA5321.warehouse_name) LIKE LOWER(CONCAT('%',#{v,jdbcType=VARCHAR},'%'))
            </if>
            <if test="storeCd != null and storeCd != ''">
               and ma5323.store_cd=#{storeCd}
            </if>
        </where>
    </select>

</mapper>