<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.bbut.iy.itemmaster.dao.materialPlanMapper" >

    <resultMap id="BaseResultMap" type="cn.com.bbut.iy.itemmaster.dto.pi0100c.PI0100DTOC">
        <result column="pi_date" property="piDate"></result>
        <result column="pi_cd" property="piCd"></result>
        <result column="pi_start_time" property="piStartTime"></result>
        <result column="pi_end_time" property="piEndTime"></result>
        <result column="store_cd" property="storeCd"></result>
        <result column="store_name" property="storeName"></result>
        <result column="pi_status" property="piStatus"></result>
        <result column="pi_type" property="piType"></result>
        <result column="pi_method" property="piMethod"></result>
        <result column="remarks" property="remarks"></result>
        <result column="create_user_id" property="createUserId"></result>
        <result column="upload_flg" property="uploadFlg"></result>
        <result column="review_status" property="reviewSts"></result>
    </resultMap>

    <resultMap id="Pi0110ResultMap" type="cn.com.bbut.iy.itemmaster.dto.pi0100c.PI0110DTOC">
        <result column="pi_date" property="piDate"></result>
        <result column="pi_cd" property="piCd"></result>
        <result column="pma_cd" property="pmaCd"></result>
        <result column="pma_name" property="pmaName"></result>
    </resultMap>

    <resultMap id="BaseItemResult" type="cn.com.bbut.iy.itemmaster.dto.pi0100c.StocktakeItemDTOC">
        <result column="article_id" property="itemCode"></result>
        <result column="article_name" property="itemName"></result>
        <result column="barcode" property="barcode"></result>
        <result column="sales_unit_id" property="itemUnit"></result>
    </resultMap>


    <select id="getfsInventoryParam" resultType="java.util.HashMap">
        SELECT
            c.code_value as codeValue,
            c.code_name as codeName
        FROM
            cm9010 c
        WHERE
            c.code_type = #{type}
            AND c.effective_sts = '10'
    </select>

    <!--    获取盘点计划主档数据-->
    <select id="getPI0100ByPrimary" resultMap="BaseResultMap">
        SELECT
            concat(p1.create_ymd,p1.create_hms) AS create_ymd,
            p1.pi_cd,
            p1.store_cd,
            concat(p1.store_cd,' ',p2.store_name) store_name,
            p1.remarks,
            /*p1.create_user_id*/
	        P4.emp_name AS create_user_name
        FROM
            PI0155 P1,
            ma1000 p2,
            cm9060 p3,
	        ma4200 p4
        WHERE
            P1.pi_cd = #{piCd}
            and p3.sp_id = '0000'
            and p1.store_cd = p2.store_cd
            AND P1.create_user_id = P4.emp_num_id
            and p3.sp_value BETWEEN p2.effective_start_date and p2.effective_end_date
    </select>

    <select id="getPmaList" resultType="java.util.HashMap">
        SELECT
            m.pma_cd AS pmaCd,
            m.pma_name AS pmaName
        FROM
            ma0080 m
        WHERE
            m.effective_sts = '10'
    </select>

    <select id="selectCountByParam" resultType="int" parameterType="cn.com.bbut.iy.itemmaster.dto.pi0100c.PI0100ParamDTOC">
        SELECT
        COUNT (P.*)
        FROM
        pi0155 P,
        ma1000 p1,
        cm9060 p2,
        ma4200 p3
        <where>
            p2.sp_id = '0000'
            AND P.store_cd = p1.store_cd
            AND P.create_user_id = P3.emp_num_id
            AND p2.sp_value BETWEEN p1.effective_start_date
            AND p1.effective_end_date
            and P.store_cd IN
            <foreach item="store" index="index" collection="pi0100Param.stores"
                     open="(" separator="," close=")">
                #{store,jdbcType=VARCHAR}
            </foreach>
            <if test="pi0100Param.piCd != null and pi0100Param.piCd != ''">
                and p.pi_cd like '%'|| #{pi0100Param.piCd} ||'%'
            </if>
            <if test="pi0100Param.piStartDate!=null and pi0100Param.piStartDate!=''">
                <![CDATA[
                and P.create_ymd >= #{pi0100Param.piStartDate}
                ]]>
            </if>
            <if test="pi0100Param.piEndDate!=null and pi0100Param.piEndDate!=''">
                <![CDATA[
                and P.create_ymd <= #{pi0100Param.piEndDate}
                ]]>
            </if>
            <if test="pi0100Param.reviewSts != null and pi0100Param.reviewSts != ''">
                and cast(p.review_status as varchar)  = #{pi0100Param.reviewSts}
            </if>
        </where>
    </select>

    <select id="search" parameterType="cn.com.bbut.iy.itemmaster.dto.pi0100c.PI0100ParamDTOC" resultMap="BaseResultMap">
        SELECT
        CONCAT(P.create_ymd,P.create_hms) AS create_ymd,
        P.pi_cd,
        p.upload_flg,
        p1.store_cd,
        p1.store_name,
        P3.emp_name AS create_user_name,
        P.remarks,
        P.review_status
        FROM
        pi0155 P,
        ma1000 p1,
        cm9060 p2,
        ma4200 p3
        <where>
            p2.sp_id = '0000'
            AND P.store_cd = p1.store_cd
            AND P.create_user_id = P3.emp_num_id
            AND p2.sp_value BETWEEN p1.effective_start_date
            AND p1.effective_end_date
            and P.store_cd IN
            <foreach item="store" index="index" collection="pi0100Param.stores"
                     open="(" separator="," close=")">
                #{store,jdbcType=VARCHAR}
            </foreach>
            <if test="pi0100Param.piCd != null and pi0100Param.piCd != ''">
                and p.pi_cd like '%'|| #{pi0100Param.piCd} ||'%'
            </if>
            <if test="pi0100Param.piStartDate!=null and pi0100Param.piStartDate!=''">
                <![CDATA[
                and P.create_ymd >= #{pi0100Param.piStartDate}
                ]]>
            </if>
            <if test="pi0100Param.piEndDate!=null and pi0100Param.piEndDate!=''">
                <![CDATA[
                and P.create_ymd <= #{pi0100Param.piEndDate}
                ]]>
            </if>
            <if test="pi0100Param.reviewSts != null and pi0100Param.reviewSts != ''">
                and cast(p.review_status as varchar)  = #{pi0100Param.reviewSts}
            </if>
        </where>
        ORDER BY P.create_ymd DESC
        <if test="pi0100Param.flg">
            LIMIT ${pi0100Param.rows} OFFSET ${pi0100Param.limitStart}
        </if>
    </select>

    <select id="selectAllItemIN" parameterType="cn.com.bbut.iy.itemmaster.dto.pi0100c.MaterialDTO" resultType="cn.com.bbut.iy.itemmaster.dto.pi0100c.MaterialDTO">
    SELECT
    distinct
    A.cost_item,
    A.article_id,
	A.article_name,
	C.default_barcode barcode,
	D.unit_name uom,
	A.spec
    FROM
	MA1100
	A LEFT JOIN (
    SELECT
	ma11.default_barcode,
	ma11.vendor_id,
	ma11.article_id
    FROM
	ma1110 ma11,
	ma2240 ma22
    WHERE
	ma11.article_id = ma22.article_id
	AND ma22.store_cd = #{param.storeCd}
	AND ma11.vendor_id = ma22.vendor_id
	AND ma11.structure_cd = (
SELECT
	ma2.admin_structure_cd
FROM
	ma0020 ma2
WHERE
	ma2.structure_cd = (SELECT ma1.admin_structure_cd FROM ma0020 ma1 WHERE ma1.structure_cd = #{param.storeCd}  ))) C ON A.article_id = C.article_id,
	ma0220 D
WHERE
	A.sales_unit_id = D.unit_id
	And A.cost_item='1'
  <if test="param.articleId !=null and param.articleId !=''">
  AND  A.article_id like concat('%',#{param.articleId},'%')
 </if>
    </select>
    <select id="selectCountItem" parameterType="cn.com.bbut.iy.itemmaster.dto.pi0100c.MaterialDTO" resultType="INT">
    SELECT
     count(1)
      FROM
	 MA1100
	 A LEFT JOIN (
    SELECT
	ma11.default_barcode,
	ma11.vendor_id,
	ma11.article_id
    FROM
	ma1110 ma11,
	ma2240 ma22
    WHERE
	ma11.article_id = ma22.article_id
	AND ma22.store_cd = #{param.storeCd}
	AND ma11.vendor_id = ma22.vendor_id
	AND ma11.structure_cd = (
    SELECT
	ma2.admin_structure_cd
   FROM
	ma0020 ma2
   WHERE
	ma2.structure_cd = (SELECT ma1.admin_structure_cd FROM ma0020 ma1 WHERE ma1.structure_cd = #{param.storeCd}  ))) C ON A.article_id = C.article_id,
	ma0220 D
   WHERE
	A.sales_unit_id = D.unit_id
	And A.cost_item='1'
   <if test="param.articleId !=null and  param.articleId !=''">
    AND  A.article_id=#{param.articleId}
    </if>
    </select>

    <select id="selectAllItem" parameterType="cn.com.bbut.iy.itemmaster.dto.pi0100.ItemInStoreDto" resultType="cn.com.bbut.iy.itemmaster.dto.pi0100c.MaterialDTO">
        SELECT
        distinct
         pi0160.article_id,
         pi0160.article_name,
         pi0160.barcode,
         pi0160.uom,
         pi0160.qty,
         PI0160.reason_code,
        CONCAT(PI0160.reason_code,' ',PI0160.reason) AS reason,
         pi0160.material_type
         FROM PI0160
         WHERE 1=1
         AND  structure_cd=#{param.adminStructureCd}
        <if test="param.articleId !=null and param.articleId !=''">
            AND  pi0160.article_id like concat('%',#{param.articleId},'%')
        </if>
    </select>
    <select id="searchStructurecd" parameterType="cn.com.bbut.iy.itemmaster.dto.pi0100.ItemInStoreDto" resultType="String">
        select admin_structure_cd
 FROM ma0020
 WHERE
structure_cd=
 (select admin_structure_cd
 FROM ma0020
 WHERE 1=1 and ma0020.structure_cd=(SELECT ma0020.admin_structure_cd
 FROM ma0020
 WHERE ma0020.structure_cd=#{storeCd}));

    </select>



</mapper>