<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bbut.iy.itemmaster.dao.OD0000TMapper">

    <resultMap id="ReOD0000TMap" type="cn.com.bbut.iy.itemmaster.dto.od0000_t.OD0000TDTO">
        <id column="store_cd" property="storeCd" jdbcType="VARCHAR" />
        <id column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="org_order_id" property="orgOrderId" jdbcType="VARCHAR" />
        <result column="vendor_id" property="vendorId" jdbcType="VARCHAR" />
        <result column="delivery_type_cd" property="deliveryTypeCd" jdbcType="VARCHAR" />
        <result column="delivery_center_id" property="deliveryCenterId" jdbcType="VARCHAR" />
        <result column="delivery_area_cd" property="deliveryAreaCd" jdbcType="VARCHAR" />
        <result column="shipment" property="shipment" jdbcType="VARCHAR" />
        <result column="order_type" property="orderType" jdbcType="VARCHAR" />
        <result column="order_method" property="orderMethod" jdbcType="VARCHAR" />
        <result column="payment_type" property="paymentType" jdbcType="VARCHAR" />
        <result column="promotion_id" property="promotionId" jdbcType="VARCHAR" />
        <result column="order_date" property="orderDate" jdbcType="VARCHAR" />
        <result column="delivery_date" property="deliveryDate" jdbcType="VARCHAR" />
        <result column="expire_date" property="expireDate" jdbcType="VARCHAR" />
        <result column="receive_date" property="receiveDate" jdbcType="VARCHAR" />
        <result column="receive_hms" property="receiveHms" jdbcType="VARCHAR" />
        <result column="vendor_address" property="vendorAddress" jdbcType="VARCHAR" />
        <result column="store_address" property="storeAddress" jdbcType="VARCHAR" />
        <result column="order_sts" property="orderSts" jdbcType="VARCHAR" />
        <result column="nr_flg" property="nrFlg" jdbcType="VARCHAR" />
        <result column="order_remark" property="orderRemark" jdbcType="VARCHAR" />
        <result column="purchase_vat_cd" property="purchaseVatCd" jdbcType="VARCHAR" />
        <result column="tax_rate" property="taxRate" jdbcType="DECIMAL" />
        <result column="order_amt" property="orderAmt" jdbcType="DECIMAL" />
        <result column="order_tax" property="orderTax" jdbcType="DECIMAL" />
        <result column="receive_amt" property="receiveAmt" jdbcType="DECIMAL" />
        <result column="receive_tax" property="receiveTax" jdbcType="DECIMAL" />
        <result column="upload_flg" property="uploadFlg" jdbcType="VARCHAR" />
        <result column="upload_date" property="uploadDate" jdbcType="VARCHAR" />
        <result column="order_differentiate" property="orderDifferentiate" jdbcType="VARCHAR" />
        <result column="create_user_id" property="commonDTO.createUserId" jdbcType="VARCHAR" />
        <result column="create_ymd" property="commonDTO.createYmd" jdbcType="VARCHAR" />
        <result column="create_hms" property="commonDTO.createHms" jdbcType="VARCHAR" />
        <result column="update_user_id" property="commonDTO.updateUserId" jdbcType="VARCHAR" />
        <result column="update_ymd" property="commonDTO.updateYmd" jdbcType="VARCHAR" />
        <result column="update_hms" property="commonDTO.updateHms" jdbcType="VARCHAR" />
        <result column="update_screen_id" property="commonDTO.updateScreenId" jdbcType="VARCHAR" />
        <result column="update_ip_address" property="commonDTO.updateIpAddress" jdbcType="VARCHAR" />
        <result column="store_name" property="storeName" jdbcType="VARCHAR" />
        <result column="review_status" property="reviewSts" jdbcType="INTEGER" />
        <result column="vendor_name" property="vendorName" jdbcType="VARCHAR" />
        <result column="order_method_name" property="orderMethodName" jdbcType="VARCHAR" />
        <result column="multiple_flg" property="multipleFlg" jdbcType="VARCHAR" />
        <result column="tab_type" property="type" jdbcType="VARCHAR" />
        <result column="receive_id" property="receiveId" jdbcType="VARCHAR" />
        <result column="received_remark" property="receivedRemark" jdbcType="VARCHAR" />
        <result column="physical_receiving_date" property="physicalReceivingDate" jdbcType="VARCHAR" />
        <result column="physical_receiving_hms" property="physicalReceivingHms" jdbcType="VARCHAR" />
    </resultMap>

    <!-- 主键查询头档 -->
    <select id="selectByKey" resultMap="ReOD0000TMap" parameterType="cn.com.bbut.iy.itemmaster.dto.od0000_t.OD0000TParamDTO">
        SELECT
            T.*, T2.vendor_name, T3.order_method_name,
            CONCAT(T1.store_cd,' ',T1.store_name) AS store_name
        FROM (
            SELECT * FROM (
                SELECT
                    receive_id, store_cd, order_id, receive_amt,
                    receive_tax, update_ymd AS receive_date,update_hms as receive_hms,
                    create_user_id, create_ymd, create_hms,update_ymd,update_hms,
                    n_reviewid,received_remark,
                    physical_receiving_date,physical_receiving_hms
                FROM OD0000_T
                WHERE receive_id = #{receiveId,jdbcType=VARCHAR}
            ) O
            JOIN (
                SELECT
                    store_cd AS temp1, order_id AS temp2, org_order_id, vendor_id, delivery_type_cd,
                    delivery_center_id, delivery_area_cd, shipment, order_type, order_method, payment_type,
                    promotion_id, order_date, delivery_date, expire_date, vendor_address, store_address,
                    order_sts, nr_flg, order_remark, purchase_vat_cd, tax_rate, order_amt, order_tax,
                    upload_flg, upload_date, update_user_id, update_ymd, update_hms, update_screen_id,
                    update_ip_address, nr_update_flg, nr_ymd, nr_hms, order_differentiate, multiple_flg,review_status
                FROM OD0000
            ) O1
            ON O.store_cd = O1.temp1 AND O.order_id = O1.temp2
        )T
        LEFT JOIN (
            SELECT store_cd, store_name FROM MA1000
        ) T1
        ON T.store_cd = T1.store_cd
        LEFT JOIN (
            SELECT code_value AS temp4, code_name AS order_method_name
            FROM CM9010 WHERE code_type = '00065'
        ) T3
        ON T.order_method = T3.temp4
        <choose>
            <when test="orderType != null and orderType == '1'.toString()">
                LEFT JOIN (
                SELECT vendor_id, CONCAT(vendor_id,' ',vendor_name) AS vendor_name FROM MA2000
                WHERE #{businessDate,jdbcType=VARCHAR} BETWEEN effective_start_date AND effective_end_date
                ) T2
                ON T.vendor_id = T2.vendor_id
            </when>
            <otherwise>
                LEFT JOIN (
                SELECT warehouse_no, CONCAT(warehouse_no,' ',warehouse_name) AS vendor_name
                FROM MA5321
                ) T2
                ON T.vendor_id = T2.warehouse_no
            </otherwise>
        </choose>
    </select>

    <select id="selectCountByOrder" parameterType="cn.com.bbut.iy.itemmaster.dto.od0000_t.OD0000TParamDTO" resultType="INT" >
        SELECT COUNT(1) FROM OD0000_T
        WHERE store_cd = #{storeCd,jdbcType=VARCHAR}
        AND order_id = #{orderId,jdbcType=VARCHAR}
    </select>

    <select id="selectListByOrder" parameterType="cn.com.bbut.iy.itemmaster.dto.od0000_t.OD0000TParamDTO" resultMap="ReOD0000TMap">
        SELECT
            T.receive_id, T.store_cd, T.order_id, T.org_order_id, T.vendor_id, T.delivery_type_cd,
            T.delivery_center_id, T.delivery_area_cd, T.shipment, T.order_type, T.order_method, T.payment_type,
            T.promotion_id, T.order_date, T.delivery_date, T.expire_date, T.receive_date, T.vendor_address,
            T.store_address, T.order_sts, T.nr_flg, T.order_remark, T.purchase_vat_cd, T.tax_rate, T.order_amt,
            T.order_tax, T.receive_amt, T.receive_tax, T.upload_flg, T.upload_date, T.create_user_id, T.create_ymd,
            T.create_hms, T.update_user_id, T.update_ymd, T.update_hms, T.update_screen_id, T.update_ip_address,
            T.nr_update_flg, T.nr_ymd, T.nr_hms, T.order_differentiate, T.n_reviewid, T.multiple_flg, T.review_status,
            CONCAT(T1.store_cd,' ',T1.store_name) AS store_name
        FROM (
            SELECT * FROM (
                SELECT
                    receive_id, store_cd, order_id, receive_amt,
                    receive_tax, create_ymd AS receive_date,
                    create_user_id, create_ymd, create_hms,
                    n_reviewid, review_status
                FROM OD0000_T
                WHERE
                    store_cd = #{storeCd,jdbcType=VARCHAR}
                AND order_id = #{orderId,jdbcType=VARCHAR}
            ) O
            JOIN (
                SELECT
                    store_cd AS temp3, order_id AS temp4, org_order_id, vendor_id, delivery_type_cd,
                    delivery_center_id, delivery_area_cd, shipment, order_type, order_method, payment_type,
                    promotion_id, order_date, delivery_date, expire_date, vendor_address, store_address,
                    order_sts, nr_flg, order_remark, purchase_vat_cd, tax_rate, order_amt, order_tax,
                    upload_flg, upload_date, update_user_id, update_ymd, update_hms, update_screen_id,
                    update_ip_address, nr_update_flg, nr_ymd, nr_hms, order_differentiate, multiple_flg
                FROM OD0000
            )O2
            ON O.store_cd = O2.temp3 AND O.order_id = O2.temp4
        )T
        LEFT JOIN (
            SELECT store_cd, store_name FROM MA1000
        ) T1
        ON T.store_cd = T1.store_cd
        ORDER BY create_ymd DESC, create_hms DESC
        <if test="flg">
            LIMIT ${rows} OFFSET ${limitStart}
        </if>
    </select>

    <delete id="deleteCopy" parameterType="cn.com.bbut.iy.itemmaster.dto.od0000_t.OD0000TDTO">
        delete
        FROM
			OD0000_T
		WHERE
            store_cd = #{storeCd,jdbcType=VARCHAR}
        AND order_id = #{orderId,jdbcType=VARCHAR}
    </delete>

    <insert id="insertByCopy" parameterType="cn.com.bbut.iy.itemmaster.dto.od0000_t.OD0000TDTO">
        INSERT INTO OD0000_T (
			receive_id, store_cd, order_id, receive_amt,
            receive_tax, create_user_id, create_ymd,
            create_hms, update_ymd, update_hms,physical_receiving_date,review_status,
            physical_receiving_hms,upload_api_flg
        )
		SELECT
		    #{receiveId,jdbcType=VARCHAR}, store_cd, order_id,
		    order_amt AS receive_amt, order_tax AS receive_tax,
            #{commonDTO.createUserId,jdbcType=VARCHAR},
            #{commonDTO.createYmd,jdbcType=VARCHAR},
            #{commonDTO.createHms,jdbcType=VARCHAR},
            #{commonDTO.createYmd,jdbcType=VARCHAR},
            #{commonDTO.createHms,jdbcType=VARCHAR},
            <choose>
                <when test="checkHhtFlg == 0">
                    #{physicalReceivingDate,jdbcType=VARCHAR},15,
                    #{physicalReceivingHms,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    #{commonDTO.createYmd,jdbcType=VARCHAR},
                    15,substr(#{commonDTO.createHms,jdbcType=VARCHAR},1,4),
                </otherwise>
            </choose>
            '0'
		FROM
			OD0000
		WHERE
            store_cd = #{storeCd,jdbcType=VARCHAR}
        AND order_id = #{orderId,jdbcType=VARCHAR}
    </insert>

    <insert id="insertRecord" parameterType="cn.com.bbut.iy.itemmaster.dto.od0000_t.OD0000TDTO">
        INSERT INTO OD0000_T (
			receive_id, store_cd, order_id, receive_amt,
            receive_tax, create_user_id, create_ymd,
            create_hms,update_ymd,update_hms,received_remark,
               physical_receiving_date,review_status,physical_receiving_hms,upload_api_flg
        ) VALUES (
            #{receiveId,jdbcType=VARCHAR}, #{storeCd,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR},
            #{receiveAmt,jdbcType=DECIMAL}, #{receiveTax,jdbcType=DECIMAL},
            #{commonDTO.createUserId,jdbcType=VARCHAR},
            #{commonDTO.createYmd,jdbcType=VARCHAR},
            #{commonDTO.createHms,jdbcType=VARCHAR},
            #{commonDTO.createYmd,jdbcType=VARCHAR},
            #{commonDTO.createHms,jdbcType=VARCHAR},
            #{receivedRemark,jdbcType=VARCHAR},
            #{physicalReceivingDate,jdbcType=VARCHAR},15,
            #{physicalReceivingHms,jdbcType=VARCHAR},'0'
        )
    </insert>

    <update id="updateOldRecord" parameterType="cn.com.bbut.iy.itemmaster.dto.od0000_t.OD0000TDTO">
        UPDATE OD0000
        SET
            receive_amt = T.receive_amt,
            receive_tax = T.receive_tax,
            upload_flg = '',
            upload_date = '',
            order_sts = #{orderSts,jdbcType=VARCHAR},
            review_status = #{reviewSts,jdbcType=INTEGER},
            receive_date = T.physical_receiving_date,
            update_user_id = #{commonDTO.updateUserId,jdbcType=VARCHAR},
            update_ymd = #{commonDTO.updateYmd,jdbcType=VARCHAR},
            update_hms = #{commonDTO.updateHms,jdbcType=VARCHAR}
        FROM (
            SELECT
                store_cd, order_id,physical_receiving_date,
                SUM(receive_amt) AS receive_amt,
                SUM(receive_tax) AS receive_tax
            FROM OD0000_T
            WHERE
                receive_id = #{receiveId,jdbcType=VARCHAR}
            GROUP BY store_cd, order_id,physical_receiving_date
        ) T
        WHERE
            OD0000.store_cd = T.store_cd
        AND OD0000.order_id = T.order_id
    </update>

    <update id="updateNewRecord"  parameterType="String">
        update od0000_t set
            review_status = 20,
            <if test="checkMouthFlg == 0">
                physical_receiving_date = substr(#{commonDTO.updateYmd,jdbcType=VARCHAR}, 1, 6) || '01',
                physical_receiving_hms = '0600',
            </if>
            update_user_id = #{commonDTO.updateUserId,jdbcType=VARCHAR},
            update_ymd = #{commonDTO.updateYmd,jdbcType=VARCHAR},
            update_hms = #{commonDTO.updateHms,jdbcType=VARCHAR}
        where
            receive_id = #{receiveId,jdbcType=VARCHAR}
    </update>

    <!-- 查询待选 -->
    <select id="selectOrgOrderId" resultType="cn.com.bbut.iy.itemmaster.dto.base.AutoCompleteDTO">
        SELECT store_cd k, receive_id v FROM OD0000_T
        WHERE store_cd = #{storeCd,jdbcType=VARCHAR}
        AND receive_id LIKE CONCAT('%',#{v,jdbcType=VARCHAR},'%')
        and review_status = 20
    </select>

    <select id="orgOrderIdCount" resultType="int" parameterType="String">
        select count(*) from od0000_t where od0000_t.receive_id = #{receiveId,jdbcType=VARCHAR} and od0000_t.order_id in (
	        select org_order_id from od0000 where od0000.org_order_id = OD0000_T.order_id and od0000.order_id like 'RR%');
    </select>

    <update id="updateRecord" parameterType="cn.com.bbut.iy.itemmaster.dto.od0000_t.OD0000TDTO">
        UPDATE OD0000_T
        SET receive_amt = #{receiveAmt,jdbcType=DECIMAL},
            receive_tax = #{receiveTax,jdbcType=DECIMAL},
            update_user_id = #{commonDTO.updateUserId,jdbcType=VARCHAR},
            update_ymd = #{commonDTO.updateYmd,jdbcType=VARCHAR},
            update_hms = #{commonDTO.updateHms,jdbcType=VARCHAR},
            received_remark = #{receivedRemark,jdbcType=DECIMAL}
            ,review_status = 15
        WHERE store_cd = #{storeCd,jdbcType=VARCHAR}
        AND receive_id = #{receiveId,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByReceiveId">
        DELETE FROM OD0000_T
        WHERE receive_id = #{receiveId,jdbcType=VARCHAR}
    </delete>

    <update id="updateReviewStatus">
        UPDATE OD0000_T
        SET
            review_status = 15
        where
            receive_id = #{receiveId,jdbcType=VARCHAR}
    </update>

    <select id="selectByOrder" resultMap="ReOD0000TMap">
        SELECT
                store_cd, order_id,physical_receiving_date
            FROM OD0000_T
            WHERE
                receive_id = #{receiveId,jdbcType=VARCHAR}
    </select>

    <select id="getHHTreceiveDateTime" resultMap="ReOD0000TMap">
        SELECT
                store_cd, order_id,receive_date as physical_receiving_date,
                receive_time physical_receiving_hms
            FROM od0020
            WHERE
                order_id = #{orderId,jdbcType=VARCHAR}
                and store_cd = #{storeCd,jdbcType=VARCHAR}
                order by line_num limit 1
    </select>

    <select id="receiveIdIsExist" resultMap="ReOD0000TMap">
        SELECT
                *
            FROM od0000_t
            WHERE
                order_id = #{orderId,jdbcType=VARCHAR}
    </select>

</mapper>