<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.bbut.iy.itemmaster.dao.PriceLabelMapper">

    <sql id="Example_Where_Clause">
        <if test="param.startYmd != null and param.startYmd != ''">
            AND ma1.effective_start_date >= #{param.startYmd}
        </if>
        <if test="param.endYmd != null and param.endYmd != ''">
            AND #{param.endYmd} >= ma1.effective_start_date
        </if>
        <if test="param.articleId != null and param.articleId != ''">
            AND ma1.article_id = #{param.articleId}
        </if>
        <if test="param.type != null and param.type != ''">
            <if test="param.type == '01'">
                AND ma1.old_price IS NULL
            </if>
            <if test="param.type == '02'">
                AND ma1.old_price IS NOT NULL
            </if>
        </if>
        AND ma1.store_cd IN
        <foreach item="store" index="index" collection="param.stores"
                 open="(" separator="," close=")">
            #{store,jdbcType=VARCHAR}
        </foreach>
    </sql>

    <select id="getItemList" resultType="cn.com.bbut.iy.itemmaster.dto.base.AutoCompleteDTO">
        SELECT DISTINCT
            ma1.article_id AS k,
            CONCAT(ma1.article_id,' ',ma1.article_name) AS v
        FROM
            ma8300 ma1
        <where>
            <if test="v!=null and v!=''">
                (
                lower(ma1.article_id) like lower(CONCAT('%',#{v,jdbcType=VARCHAR},'%'))
                OR lower(ma1.article_name) like lower(CONCAT('%',#{v,jdbcType=VARCHAR},'%'))
                )
            </if>
        </where>
    </select>

    <select id="searchCount" resultType="java.lang.Integer">
        SELECT
        count (a.*)
        FROM
        (
        SELECT DISTINCT
            ma1.store_cd AS storeCd,
            ma3.store_name AS storeName,
            ma1.article_id AS articleId,
            ma1.barcode,
            ma1.article_name AS articleName,
            ma1.old_price AS oldPrice,
            ma1.new_price AS newPrice,
            ma1.name_en_price_label AS priceLabelEnName,
            ma1.name_vn_price_label AS priceLabelVnName,
            ma1.effective_start_date AS effectiveStartDate,
            ma07.dep_cd,
            concat ( ma07.dep_cd, ' ', ma07.dep_name ) dep_name,
            ma08.pma_cd,
            concat ( ma08.pma_cd, ' ', ma08.pma_name ) pma_name,
            ma09.category_cd,
            concat ( ma09.category_cd, ' ', ma09.category_name ) category_name,
            ma01.sub_category_cd,
            concat ( ma01.sub_category_cd, ' ', ma01.sub_category_name ) sub_category_name
        FROM
            ma8300 ma1,
            ma1000 ma3,
            ma0070 ma07,
            ma0080 ma08,
            ma0090 ma09,
            ma0100 ma01
        WHERE
            ma3.store_cd = ma1.store_cd
            AND ma1.pma_cd = ma08.pma_cd
            AND ma1.dep_cd = ma07.dep_cd
            AND ma1.category_cd = ma09.category_cd
            AND ma1.sub_category_cd = ma01.sub_category_cd
        <if test="param.depCd!=null and param.depCd!=''">
            AND ma1.dep_cd = #{param.depCd}
        </if>
        <if test="param.pmaCd!=null and param.pmaCd!=''">
            AND ma1.pma_cd = #{param.pmaCd}
        </if>
        <if test="param.categoryCd != null and param.categoryCd != ''">
            and ma1.category_cd = #{param.categoryCd,jdbcType=VARCHAR}
        </if>
        <if test="param.subCategoryCd != null and param.subCategoryCd != ''">
            and ma1.sub_category_cd = #{param.subCategoryCd,jdbcType=VARCHAR}
        </if>
        <include refid="Example_Where_Clause"/>) a
    </select>

    <select id="search" resultType="cn.com.bbut.iy.itemmaster.dto.priceLabel.PriceLabelDTO">
        SELECT DISTINCT
            ma1.store_cd AS storeCd,
            ma3.store_name AS storeName,
            ma1.article_id AS articleId,
            ma1.barcode,
            ma1.article_name AS articleName,
            ma1.old_price AS oldPrice,
            ma1.new_price AS newPrice,
            ma1.name_en_price_label AS priceLabelEnName,
            ma1.name_vn_price_label AS priceLabelVnName,
            ma1.effective_start_date AS effectiveStartDate,
            ma07.dep_cd,
            concat ( ma07.dep_cd, ' ', ma07.dep_name ) dep_name,
            ma08.pma_cd,
            concat ( ma08.pma_cd, ' ', ma08.pma_name ) pma_name,
            ma09.category_cd,
            concat ( ma09.category_cd, ' ', ma09.category_name ) category_name,
            ma01.sub_category_cd,
            concat ( ma01.sub_category_cd, ' ', ma01.sub_category_name ) sub_category_name
        FROM
            ma8300 ma1,
            ma1000 ma3,
            ma0070 ma07,
            ma0080 ma08,
            ma0090 ma09,
            ma0100 ma01
        WHERE
            ma3.store_cd = ma1.store_cd
            AND ma1.pma_cd = ma08.pma_cd
            AND ma1.dep_cd = ma07.dep_cd
            AND ma1.category_cd = ma09.category_cd
            AND ma1.sub_category_cd = ma01.sub_category_cd
        <if test="param.depCd!=null and param.depCd!=''">
            AND ma1.dep_cd = #{param.depCd}
        </if>
        <if test="param.pmaCd!=null and param.pmaCd!=''">
            AND ma1.pma_cd = #{param.pmaCd}
        </if>
        <if test="param.categoryCd != null and param.categoryCd != ''">
            and ma1.category_cd = #{param.categoryCd,jdbcType=VARCHAR}
        </if>
        <if test="param.subCategoryCd != null and param.subCategoryCd != ''">
            and ma1.sub_category_cd = #{param.subCategoryCd,jdbcType=VARCHAR}
        </if>
        <include refid="Example_Where_Clause"/>
        <if test="param.flg">
            LIMIT ${param.rows} OFFSET ${param.limitStart}
        </if>
    </select>

</mapper>