<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bbut.iy.itemmaster.dao.SequenceMapper">
  <select id="getSequence"  resultType="string">
--     resultType="java.lang.Integer"
    <!--
      获取最新序列
    -->
    select nextval(#{sequenceName}::regclass)
  </select>

    <update id="updateSeqNum">
        alter sequence ${sequenceName} increment by ${seq}
    </update>

    <update id="resetSeq">
        alter sequence ${sequenceName} increment by 1
    </update>
</mapper>