<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.bbut.iy.itemmaster.dao.MA2000Mapper" >
  <select id="selectByVendorId" resultType="string">
        select
        vendor_name
        from ma2000
        where vendor_id = #{vendorId,jdbcType=CHAR}
        and (SELECT C.sp_value FROM CM9060 C WHERE C.sp_id = '0000') BETWEEN ma2000.effective_start_date AND ma2000.effective_end_date
    </select>

    <select id="selectById" resultType="cn.com.bbut.iy.itemmaster.entity.ma2000.MA2000">
        select
        ma2000.vendor_Id,
        ma2000.vendor_name vendorName,
--         ma2002.min_order_amt minOrderAmtTax,
--         ma2002.min_order_qty,
        vendor_email vendorEmail,
        cutoff_time cutoffTime,
        order_tel_no,
        order_fax_no,
        district_cd,
        order_address1,
        order_address2,
        order_admin_name,
        order_send_method,
        supply_purchase_rate,
        bad_discount_rate,
        shipment_flg
        from ma2000
--         left join ma2002 on
--         ma2002.effective_start_date = ma2000.effective_start_date
--         AND ma2000.vendor_id = ma2002.vendor_id
        where ma2000.vendor_id = #{vendorId,jdbcType=VARCHAR}
    <![CDATA[
        and ma2000.effective_start_date <= #{businessDate,jdbcType=VARCHAR}
        and ma2000.effective_end_date >= #{businessDate,jdbcType=VARCHAR}
        ]]>
        limit 1
    </select>

  <select id="getListAll" resultType="cn.com.bbut.iy.itemmaster.dto.base.AutoCompleteDTO">
    select distinct ma2000.vendor_id k,CONCAT(ma2000.vendor_id,' ',ma2000.vendor_name) v from ma2000
    <if test="storeCd != null and storeCd !=''">
    ,ma2240
    </if>
    ,ma2100
    where
    /*有效业务日期内*/
    <![CDATA[
        ma2000.effective_start_date <= #{businessDate,jdbcType=VARCHAR}
        and ma2000.effective_end_date >= #{businessDate,jdbcType=VARCHAR}
    ]]>
    <if test="vendorId != null and vendorId !=''">
      and (lower(ma2000.vendor_id) like '%'|| lower(#{vendorId,jdbcType=VARCHAR}) || '%'
      or lower(ma2000.vendor_name) like '%'|| lower(#{vendorId,jdbcType=VARCHAR}) || '%')
    </if>
    /*跟店铺关联*/
    <if test="storeCd != null and storeCd !=''">
      and ma2000.vendor_id = ma2240.vendor_id
      and ma2240.store_cd = #{storeCd,jdbcType=VARCHAR}
    </if>
    /*有合同日期内*/
    <![CDATA[
        AND ma2000.trading_term_no = ma2100.trading_term_no
        AND ma2000.effective_start_date = ma2100.effective_start_date
        AND ma2000.vendor_id = ma2100.vendor_id
        AND ma2100.this_contract_start_date <= #{businessDate,jdbcType=VARCHAR}
        AND to_char(
        to_timestamp( ma2100.this_contract_end_date, 'yyyyMMdd' ) + ( CASE  WHEN ma2100.this_auto_extend = '' or ma2100.this_auto_extend IS NULL THEN '0' ELSE ma2100.this_auto_extend END || ' month' ) :: INTERVAL,
        'yyyyMMdd'
        ) >= #{businessDate,jdbcType=VARCHAR};
      ]]>
  </select>


  <select id="getVendor"  resultType="cn.com.bbut.iy.itemmaster.dto.base.AutoCompleteDTO">
    select
    distinct
--     ma2000.vendor_id,ma2000.vendor_name
    ma2000.vendor_id k,CONCAT(ma2000.vendor_id,' ',ma2000.vendor_name) v
    from ma2000
    <where>
      <if test="vendorId != null and vendorId !=''">
          and (lower(ma2000.vendor_id) like '%'|| lower(#{vendorId,jdbcType=VARCHAR}) || '%'
          or lower(ma2000.vendor_name) like '%'|| lower(#{vendorId,jdbcType=VARCHAR}) || '%')
      </if>
    </where>
    order  by ma2000.vendor_id desc
  </select>

</mapper>