<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bbut.iy.itemmaster.dao.MA4315Mapper">
  <select id="getReplyList" parameterType="cn.com.bbut.iy.itemmaster.dto.inform.Ma4315DetailParamDto" resultType="cn.com.bbut.iy.itemmaster.dto.inform.Ma4315DetailGridDto">
      select
        ma4315.inform_cd,
        ma4315.inform_reply_date,
        ma4315.inform_reply_content,
        ma4315.reply_user_id user_id,
        ma4200.emp_name user_name,
        ma4315.store_cd,
        ma1000.store_name
      from ma4315,ma4200,ma1000
      <where>
        and ma4200.emp_num_id = ma4315.reply_user_id
      <![CDATA[
          and ma1000.effective_start_date <= #{businessDate,jdbcType=VARCHAR}
          and ma1000.effective_end_date >= #{businessDate,jdbcType=VARCHAR}
          ]]>
        and ma1000.store_cd = ma4315.store_cd
        <if test="informReply!=null and informReply!=''">
            and ma4315.reply_user_id = #{userId,jdbcType=VARCHAR}
        </if>
        <if test="informCd!=null and informCd!=''">
          and ma4315.inform_cd = #{informCd,jdbcType=VARCHAR}
        </if>
        <if test="storeCd!=null and storeCd!=''">
          and ma4315.store_cd = #{storeCd,jdbcType=VARCHAR}
        </if>
      </where>
      <if test="orderByClause != null">
        order by ${orderByClause}
      </if>
      <if test="limitStart >= 0">
        limit ${limitEnd} offset ${limitStart}
      </if>
  </select>

  <select id="getReplyListCount" parameterType="cn.com.bbut.iy.itemmaster.dto.inform.Ma4315DetailParamDto" resultType="long">
    select
      count(*)
    from ma4315,ma4200,ma1000
    <where>
      and ma4200.emp_num_id = ma4315.reply_user_id
      <![CDATA[
          and ma1000.effective_start_date <= #{businessDate,jdbcType=VARCHAR}
          and ma1000.effective_end_date >= #{businessDate,jdbcType=VARCHAR}
          ]]>
      and ma1000.store_cd = ma4315.store_cd
      <if test="informCd!=null and informCd!=''">
        and ma4315.inform_cd = #{informCd,jdbcType=VARCHAR}
      </if>
      <if test="storeCd!=null and storeCd!=''">
        and ma4315.store_cd = #{storeCd,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

</mapper>