<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bbut.iy.itemmaster.dao.receipt.vendor.VendorMapper">

    <resultMap id="ReceiptGridResultMap" type="cn.com.bbut.iy.itemmaster.dto.receipt.vendor.VendorReceiptGridDTO">
        <id column="store_cd" property="storeCd" jdbcType="VARCHAR"/>
        <id column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="org_order_id" property="orgOrderId" jdbcType="VARCHAR"/>
        <result column="vendor_id" property="vendorId" jdbcType="VARCHAR"/>
        <result column="delivery_type_cd" property="deliveryTypeCd" jdbcType="VARCHAR"/>
        <result column="delivery_center_id" property="deliveryCenterId" jdbcType="VARCHAR"/>
        <result column="delivery_area_cd" property="deliveryAreaCd" jdbcType="VARCHAR"/>
        <result column="shipment" property="shipment" jdbcType="VARCHAR"/>
        <result column="order_type" property="orderType" jdbcType="VARCHAR"/>
        <result column="order_method" property="orderMethod" jdbcType="VARCHAR"/>
        <result column="payment_type" property="paymentType" jdbcType="VARCHAR"/>
        <result column="promotion_id" property="promotionId" jdbcType="VARCHAR"/>
        <result column="order_date" property="orderDate" jdbcType="VARCHAR"/>
        <result column="delivery_date" property="deliveryDate" jdbcType="VARCHAR"/>
        <result column="expire_date" property="expireDate" jdbcType="VARCHAR"/>
        <result column="receive_date" property="receiveDate" jdbcType="VARCHAR"/>
        <result column="vendor_address" property="vendorAddress" jdbcType="VARCHAR"/>
        <result column="store_address" property="storeAddress" jdbcType="VARCHAR"/>
        <result column="order_sts" property="orderSts" jdbcType="VARCHAR"/>
        <result column="nr_flg" property="nrFlg" jdbcType="VARCHAR"/>
        <result column="order_remark" property="orderRemark" jdbcType="VARCHAR"/>
        <result column="purchase_vat_cd" property="purchaseVatCd" jdbcType="VARCHAR"/>
        <result column="tax_rate" property="taxRate" jdbcType="DECIMAL"/>
        <result column="order_amt" property="orderAmt" jdbcType="DECIMAL"/>
        <result column="order_tax" property="orderTax" jdbcType="DECIMAL"/>
        <result column="receive_amt" property="receiveAmt" jdbcType="DECIMAL"/>
        <result column="receive_tax" property="receiveTax" jdbcType="DECIMAL"/>
        <result column="receive_id" property="receiveId" jdbcType="VARCHAR"/>
        <result column="upload_flg" property="uploadFlg" jdbcType="VARCHAR"/>
        <result column="upload_date" property="uploadDate" jdbcType="VARCHAR"/>
        <result column="order_differentiate" property="orderDifferentiate" jdbcType="VARCHAR"/>
        <result column="create_user_id" property="commonDTO.createUserId" jdbcType="VARCHAR"/>
        <result column="create_ymd" property="commonDTO.createYmd" jdbcType="VARCHAR"/>
        <result column="create_hms" property="commonDTO.createHms" jdbcType="VARCHAR"/>
        <result column="update_user_id" property="commonDTO.updateUserId" jdbcType="VARCHAR"/>
        <result column="update_ymd" property="commonDTO.updateYmd" jdbcType="VARCHAR"/>
        <result column="update_hms" property="commonDTO.updateHms" jdbcType="VARCHAR"/>
        <result column="update_screen_id" property="commonDTO.updateScreenId" jdbcType="VARCHAR"/>
        <result column="update_ip_address" property="commonDTO.updateIpAddress" jdbcType="VARCHAR"/>
        <result column="store_name" property="storeName" jdbcType="VARCHAR"/>
        <result column="review_status" property="reviewSts" jdbcType="VARCHAR"/>
        <result column="vendor_name" property="vendorName" jdbcType="VARCHAR"/>
        <result column="order_method_name" property="orderMethodName" jdbcType="VARCHAR"/>
        <result column="multiple_flg" property="multipleFlg" jdbcType="VARCHAR"/>
        <result column="reveive_status" property="reveiveStatus" jdbcType="VARCHAR"/>
        <result column="physical_receiving_date" property="physicalReceivingDate" jdbcType="VARCHAR"/>
        <result column="receive_date_t" property="receiveDateT" jdbcType="VARCHAR"/>
        <result column="free_order_id" property="freeOrderId" jdbcType="VARCHAR"/>

    </resultMap>

    <resultMap id="ReDetailsDTOMap" type="cn.com.bbut.iy.itemmaster.dto.receipt.vendor.VendorDetailsGridDTO">
        <id column="store_cd" property="storeCd" jdbcType="VARCHAR"/>
        <id column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <id column="serial_no" property="serialNo" jdbcType="VARCHAR"/>
        <id column="article_id" property="articleId" jdbcType="VARCHAR"/>
        <result column="barcode" property="barcode" jdbcType="VARCHAR"/>
        <result column="vendor_id" property="vendorId" jdbcType="VARCHAR"/>
        <result column="promotion_id" property="promotionId" jdbcType="VARCHAR"/>
        <result column="order_unit" property="orderUnit" jdbcType="VARCHAR"/>
        <result column="order_qty" property="orderQty" jdbcType="DECIMAL"/>
        <result column="order_nocharge_qty" property="orderNoChargeQty" jdbcType="DECIMAL"/>
        <result column="order_price" property="orderPrice" jdbcType="DECIMAL"/>
        <result column="order_amt" property="orderAmt" jdbcType="DECIMAL"/>
        <result column="order_amt_notax" property="orderAmtNoTax" jdbcType="DECIMAL"/>
        <result column="order_tax" property="orderTax" jdbcType="DECIMAL"/>
        <result column="receive_price" property="receivePrice" jdbcType="DECIMAL"/>
        <result column="receive_qty" property="receiveQty" jdbcType="DECIMAL"/>
        <result column="hht_receive_qty" property="hhtReceiveQty" jdbcType="DECIMAL"/>
        <result column="hht_receive_date" property="hhtReceiveDate" jdbcType="VARCHAR"/>
        <result column="hht_receive_time" property="hhtReceiveTime" jdbcType="VARCHAR"/>
        <result column="var_qty" property="varQty" jdbcType="DECIMAL"/>
        <result column="receive_nocharge_qty" property="receiveNoChargeQty" jdbcType="DECIMAL"/>
        <result column="receive_total_qty" property="receiveTotalQty" jdbcType="DECIMAL"/>
        <result column="receive_total_amt" property="receiveTotalAmt" jdbcType="DECIMAL"/>
        <result column="receive_total_amt_notax" property="receiveTotalAmtNoTax" jdbcType="DECIMAL"/>
        <result column="receive_tax" property="receiveTax" jdbcType="DECIMAL"/>
        <result column="upload_flg" property="uploadFlg" jdbcType="VARCHAR"/>
        <result column="upload_date" property="uploadDate" jdbcType="VARCHAR"/>
        <result column="create_user_id" property="commonDTO.createUserId" jdbcType="VARCHAR"/>
        <result column="create_ymd" property="commonDTO.createYmd" jdbcType="VARCHAR"/>
        <result column="create_hms" property="commonDTO.createHms" jdbcType="VARCHAR"/>
        <result column="update_user_id" property="commonDTO.updateUserId" jdbcType="VARCHAR"/>
        <result column="update_ymd" property="commonDTO.updateYmd" jdbcType="VARCHAR"/>
        <result column="update_hms" property="commonDTO.updateHms" jdbcType="VARCHAR"/>
        <result column="update_screen_id" property="commonDTO.updateScreenId" jdbcType="VARCHAR"/>
        <result column="update_ip_address" property="commonDTO.updateIpAddress" jdbcType="VARCHAR"/>
        <result column="order_total_qty" property="orderTotalQty" jdbcType="DECIMAL"/>
        <result column="article_name" property="articleName" jdbcType="VARCHAR"/>
        <result column="different_reasons" property="differenceReason" jdbcType="VARCHAR"/>
        <result column="differ_reasons" property="differenceReasonText" jdbcType="VARCHAR"/>
        <result column="tax_rate" property="taxRate" jdbcType="DECIMAL"/>
        <result column="is_free_item" property="isFreeItem" jdbcType="CHAR"/>
        <result column="is_free_item_t" property="isFreeItemText" jdbcType="CHAR"/>
        <result column="ss_hh_qty" property="ssHHQty" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="selectReceiptCondition">
        AND order_type = '01'
        AND order_sts IN ('00','04','07')
        AND review_status IN (10,15,20)
        AND store_cd IN
        <foreach item="store" index="index" collection="stores"
                 open="(" separator="," close=")">
            #{store,jdbcType=VARCHAR}
        </foreach>
        <if test="orderId != null and orderId != ''">
            AND LOWER(order_id) LIKE LOWER(CONCAT('%',#{orderId,jdbcType=VARCHAR},'%'))
        </if>
        <if test="itemId != null and itemId != ''">
            AND article_id = #{itemId,jdbcType=VARCHAR}
        </if>
        <if test="vendorId != null and vendorId != ''">
            AND vendor_id = #{vendorId,jdbcType=VARCHAR}
        </if>
        <if test="orderStartDate != null and orderStartDate != ''">
            AND order_date >= #{orderStartDate,jdbcType=VARCHAR}
        </if>
        <if test="orderEndDate != null and orderEndDate != ''">
            AND #{orderEndDate,jdbcType=VARCHAR} >= order_date
        </if>
        <if test="deliveryStartDate != null and deliveryStartDate != ''">
            AND delivery_date >= #{deliveryStartDate,jdbcType=VARCHAR}
        </if>
        <if test="deliveryEndDate != null and deliveryEndDate != ''">
            AND #{deliveryEndDate,jdbcType=VARCHAR} >= delivery_date
        </if>
        <if test="voucherStatus != null and voucherStatus != ''">
            AND CAST(review_status AS VARCHAR) = #{voucherStatus,jdbcType=VARCHAR}
        </if>
    </sql>

    <select id="selectReceipt" resultMap="ReceiptGridResultMap"
            parameterType="cn.com.bbut.iy.itemmaster.dto.receipt.vendor.VendorReceiptParamDTO">
        SELECT
        T.*, CONCAT(T1.store_cd,' ',T1.store_name) AS
        store_name,T2.receive_id,T2.reveive_status,T2.physical_receiving_date,T2.update_ymd as receive_date_t
        FROM (
            SELECT
            store_cd, order_id, org_order_id, vendor_id, delivery_type_cd, delivery_center_id,
            delivery_area_cd, shipment, order_type, order_method, payment_type, promotion_id,
            order_date, delivery_date, expire_date, receive_date, vendor_address, store_address,
            order_sts, nr_flg, order_remark, purchase_vat_cd, tax_rate, order_amt, order_tax,
            receive_amt, receive_tax, upload_flg, upload_date, create_user_id, create_ymd,
            create_hms, update_user_id, update_ymd, update_hms, update_screen_id, update_ip_address,
            nr_update_flg, nr_ymd, nr_hms, order_differentiate, n_reviewid, review_status, multiple_flg,free_order_id
            FROM OD0000 O
            <if test="itemId != null and itemId != ''">
                JOIN (
                SELECT store_cd AS temp1, order_id AS temp2, article_id FROM OD0010
                ) O1
                ON O.store_cd = O1.temp1 AND O.order_id = O1.temp2
            </if>
            WHERE order_differentiate = '0'
            <include refid="selectReceiptCondition"></include>
        )T
        LEFT JOIN (
            SELECT store_cd, store_name FROM MA1000
        ) T1
        ON T.store_cd = T1.store_cd
        LEFT JOIN lateral(
            SELECT
            receive_id,store_cd,order_id,review_status reveive_status,physical_receiving_date,update_ymd,update_hms
            FROM OD0000_T
            order by create_ymd desc,create_hms desc
        ) T2 ON T.store_cd = T2.store_cd and T.order_id = T2.order_id
        WHERE
        1=1
        <if test="receivingStartDate != null and receivingStartDate != ''">
            AND T2.update_ymd >= #{receivingStartDate,jdbcType=VARCHAR}
        </if>
        <if test="receivingEndDate != null and receivingEndDate != ''">
            AND #{receivingEndDate,jdbcType=VARCHAR} >= T2.update_ymd
        </if>
        <if test="receiveId != null and receiveId != ''">
            AND lower(T2.receive_id) like lower(CONCAT('%',#{receiveId},'%'))
        </if>
        ORDER BY order_date DESC, order_id DESC
        <if test="flg">
            LIMIT ${rows} OFFSET ${limitStart}
        </if>
    </select>
    <select id="selectReceiptCount" resultType="INT"
            parameterType="cn.com.bbut.iy.itemmaster.dto.receipt.vendor.VendorReceiptParamDTO">
        SELECT
        count(*)
        FROM (
        SELECT
        store_cd, order_id, org_order_id, vendor_id, delivery_type_cd, delivery_center_id,
        delivery_area_cd, shipment, order_type, order_method, payment_type, promotion_id,
        order_date, delivery_date, expire_date, receive_date, vendor_address, store_address,
        order_sts, nr_flg, order_remark, purchase_vat_cd, tax_rate, order_amt, order_tax,
        receive_amt, receive_tax, upload_flg, upload_date, create_user_id, create_ymd,
        create_hms, update_user_id, update_ymd, update_hms, update_screen_id, update_ip_address,
        nr_update_flg, nr_ymd, nr_hms, order_differentiate, n_reviewid, review_status, multiple_flg,free_order_id
        FROM OD0000 O
        <if test="itemId != null and itemId != ''">
            JOIN (
            SELECT store_cd AS temp1, order_id AS temp2, article_id FROM OD0010
            ) O1
            ON O.store_cd = O1.temp1 AND O.order_id = O1.temp2
        </if>
        WHERE order_differentiate = '0'
        <include refid="selectReceiptCondition"></include>
        )T
        LEFT JOIN (
        SELECT store_cd, store_name FROM MA1000
        ) T1
        ON T.store_cd = T1.store_cd
        LEFT JOIN lateral(
        SELECT
        receive_id,store_cd,order_id,review_status reveive_status,physical_receiving_date,update_ymd,update_hms
        FROM OD0000_T
        order by create_ymd desc,create_hms desc
        ) T2 ON T.store_cd = T2.store_cd and T.order_id = T2.order_id
        WHERE
        1=1
        <if test="receivingStartDate != null and receivingStartDate != ''">
            AND T2.update_ymd >= #{receivingStartDate,jdbcType=VARCHAR}
        </if>
        <if test="receivingEndDate != null and receivingEndDate != ''">
            AND #{receivingEndDate,jdbcType=VARCHAR} >= T2.update_ymd
        </if>
        <if test="receiveId != null and receiveId != ''">
            AND lower(T2.receive_id) like lower(CONCAT('%',#{receiveId},'%'))
        </if>
    </select>


    <select id="selectDetailByKey" resultMap="ReDetailsDTOMap"
            parameterType="cn.com.bbut.iy.itemmaster.dto.receipt.vendor.VendorDetailsGridDTO">
        SELECT * FROM OD0010
        WHERE
            store_cd = #{storeCd,jdbcType=VARCHAR}
        AND order_id = #{orderId,jdbcType=VARCHAR}
        AND serial_no = #{serialNo,jdbcType=VARCHAR}
        AND article_id = #{articleId,jdbcType=VARCHAR}
    </select>

    <update id="modifyQty" parameterType="cn.com.bbut.iy.itemmaster.dto.receipt.vendor.VendorDetailsGridDTO">
        UPDATE OD0010
        SET
            receive_qty = #{receiveQty,jdbcType=DECIMAL},
            receive_nocharge_qty = #{receiveNoChargeQty,jdbcType=DECIMAL},
            receive_total_qty = #{receiveTotalQty,jdbcType=DECIMAL},
            receive_total_amt = #{receiveTotalAmt,jdbcType=DECIMAL},
            update_user_id = #{commonDTO.updateUserId,jdbcType=VARCHAR},
            update_ymd = #{commonDTO.updateYmd,jdbcType=VARCHAR},
            update_hms = #{commonDTO.updateHms,jdbcType=VARCHAR}
        WHERE
            store_cd = #{storeCd,jdbcType=VARCHAR}
        AND order_id = #{orderId,jdbcType=VARCHAR}
        AND serial_no = #{serialNo,jdbcType=VARCHAR}
        AND article_id = #{articleId,jdbcType=VARCHAR}
    </update>

    <update id="updateStatus" parameterType="cn.com.bbut.iy.itemmaster.dto.receipt.vendor.VendorReceiptParamDTO">
        UPDATE OD0000
        SET
        <if test="receivingStartDate != null and receivingStartDate != ''">
            receive_date = #{receivingStartDate,jdbcType=VARCHAR},
        </if>
        order_sts = #{voucherStatus,jdbcType=VARCHAR},
        update_user_id = #{commonDTO.updateUserId,jdbcType=VARCHAR},
        update_ymd = #{commonDTO.updateYmd,jdbcType=VARCHAR},
        update_hms = #{commonDTO.updateHms,jdbcType=VARCHAR}
        WHERE
        store_cd = #{storeCd,jdbcType=VARCHAR}
        AND order_id = #{orderId,jdbcType=VARCHAR}
    </update>

    <!-- 主键查询头档 -->
    <select id="selectByKey" resultMap="ReceiptGridResultMap"
            parameterType="cn.com.bbut.iy.itemmaster.dto.receipt.vendor.VendorReceiptParamDTO">
        SELECT
            T.*, T3.order_method_name,
            CONCAT(T1.store_cd,' ',T1.store_name) AS store_name,
            CONCAT(T2.vendor_id,' ',T2.vendor_name) AS vendor_name
        FROM (
            SELECT
                store_cd, order_id, org_order_id, vendor_id, delivery_type_cd,
                delivery_center_id, delivery_area_cd, shipment, order_type,
                order_method, payment_type, promotion_id, order_date, delivery_date,
                expire_date, receive_date, vendor_address, store_address, order_sts,
                nr_flg, order_remark, purchase_vat_cd, tax_rate, order_amt, order_tax,
                receive_tax, upload_flg, upload_date, create_user_id,
                create_ymd, create_hms, update_user_id, update_ymd, update_hms,
                update_screen_id, update_ip_address, order_differentiate, review_status,
                CASE WHEN receive_amt IS NULL THEN order_amt ELSE receive_amt END AS receive_amt
            FROM
                OD0000
            WHERE
                store_cd = #{storeCd,jdbcType=VARCHAR}
            AND order_id = #{orderId,jdbcType=VARCHAR}
        )T
        LEFT JOIN (
            SELECT store_cd, store_name FROM MA1000
        ) T1
        ON T.store_cd = T1.store_cd
        LEFT JOIN (
            SELECT vendor_id, vendor_name FROM MA2000
            WHERE #{businessDate,jdbcType=VARCHAR} BETWEEN effective_start_date AND effective_end_date
        ) T2
        ON T.vendor_id = T2.vendor_id
        LEFT JOIN (
            SELECT code_value AS temp4, code_name AS order_method_name
            FROM CM9010
            WHERE code_type = '00065'
        ) T3
        ON T.order_method = T3.temp4
    </select>

    <!-- 查询明细详情 -->
    <sql id="selectDetailsCondition">
        <where>
            a.store_cd = #{storeCd,jdbcType=VARCHAR}
            AND a.order_id = #{orderId,jdbcType=VARCHAR}
        </where>
    </sql>

    <select id="selectDetailCount" resultType="INT"
            parameterType="cn.com.bbut.iy.itemmaster.dto.receipt.vendor.VendorDetailsParamDTO">
        SELECT COUNT(1) FROM OD0010 a
        <include refid="selectDetailsCondition"></include>
    </select>

    <select id="selectDetail" resultMap="ReDetailsDTOMap"
            parameterType="cn.com.bbut.iy.itemmaster.dto.receipt.vendor.VendorDetailsParamDTO">
        SELECT
        T.*, T1.article_name,concat(T2.code_value,' ',T2.code_name) as differ_reasons,
        COALESCE(T.receive_qty,0)-COALESCE(T.order_qty,0) var_qty
        FROM (
            SELECT
                a.store_cd, a.order_id,a.order_date, a.serial_no, a.article_id, a.barcode, a.vendor_id, a.promotion_id,
                a.order_unit, COALESCE(a.order_qty,0) order_qty, COALESCE(a.order_nocharge_qty,0) order_nocharge_qty,
                COALESCE(a.order_price,0) order_price, COALESCE(a.order_amt,0) order_amt,
                COALESCE(a.order_amt_notax,0) order_amt_notax, COALESCE(a.order_tax,0) order_tax, a.receive_price,
                a.receive_total_amt_notax,
                a.receive_tax, a.reason_id, a.adjust_amt, a.adjust_qty,a.tax_rate,
                COALESCE(a.order_qty,0) + COALESCE(a.order_nocharge_qty,0) AS order_total_qty,a.different_reasons,
                <!--                <choose>-->
                <!--                    <when test="pageSts != null and pageSts == '1'.toString()">-->
                <!--                        COALESCE(order_qty,0) + COALESCE(order_nocharge_qty,0) AS receive_total_qty,-->
                <!--                        order_qty AS receive_qty,-->
                <!--                        order_nocharge_qty AS receive_nocharge_qty,-->
                <!--                        order_amt AS receive_total_amt-->
                <!--                    </when>-->
                <!--                    <otherwise>-->
                COALESCE(b.hht_receive_qty,0)+COALESCE(a.receive_qty,0)-COALESCE(b.hht_receive_qty,0) as ss_hh_qty,
                (COALESCE(b.hht_receive_qty, 0)) hht_receive_qty,
                (COALESCE(b.hht_receive_qty, 0) + COALESCE(a.receive_qty, 0))  receive_qty,
                b.receive_date hht_receive_date,b.receive_time hht_receive_time,
                a.receive_nocharge_qty,
                a.receive_total_amt,a.receive_total_qty,a.is_free_item,a.is_free_item as is_free_item_t
                <!--                    </otherwise>-->
                <!--                </choose>-->
            FROM
                OD0010 a
                LEFT JOIN OD0020 b
                ON b.store_cd = a.store_cd
                AND b.order_id = a.order_id
                AND a.serial_no = cast(coalesce(b.line_num,0)+1 as VARCHAR)
                AND b.order_date = a.order_date
                AND b.article_id = a.article_id
                <include refid="selectDetailsCondition"></include>
        ) T
        LEFT JOIN (
            SELECT article_id, article_name FROM MA1100
            ) T1
            ON T.article_id = T1.article_id
        LEFT JOIN (
        select code_value,code_name from cm9010 where code_type = '00560'
        ) T2 on T2.code_value = T.different_reasons
        ORDER BY T.serial_no
    </select>

    <select id="getPrintData" resultMap="ReceiptGridResultMap"
            parameterType="cn.com.bbut.iy.itemmaster.dto.receipt.vendor.VendorReceiptParamDTO">
        SELECT * FROM (
        SELECT
        '0' AS tab_type, '' AS receive_id, T.*, T1.store_name
        FROM (
        SELECT
        store_cd, order_id, org_order_id, vendor_id, delivery_type_cd, delivery_center_id,
        delivery_area_cd, shipment, order_type, order_method, payment_type, promotion_id,
        order_date, delivery_date, expire_date, receive_date, vendor_address, store_address,
        order_sts, nr_flg, order_remark, purchase_vat_cd, tax_rate, order_amt, order_tax,
        receive_amt, receive_tax, upload_flg, upload_date, create_user_id, create_ymd,
        create_hms, update_user_id, update_ymd, update_hms, update_screen_id, update_ip_address,
        nr_update_flg, nr_ymd, nr_hms, order_differentiate, n_reviewid, review_status, multiple_flg
        FROM OD0000 O
        <if test="itemId != null and itemId != ''">
            JOIN (
            SELECT store_cd AS temp1, order_id AS temp2, article_id FROM OD0010
            ) O1
            ON O.store_cd = O1.temp1 AND O.order_id = O1.temp2
        </if>
        WHERE order_differentiate = '0'
        <if test="receiveId!=null and receiveId!=''">
            AND 1 = 2
        </if>
        <if test="receivingStartDate != null and receivingStartDate != ''">
            AND receive_date >= #{receivingStartDate,jdbcType=VARCHAR}
        </if>
        <if test="receivingEndDate != null and receivingEndDate != ''">
            AND #{receivingEndDate,jdbcType=VARCHAR} >= receive_date
        </if>
        <include refid="selectReceiptCondition"></include>
        )T
        LEFT JOIN (
        SELECT store_cd, store_name FROM MA1000
        ) T1
        ON T.store_cd = T1.store_cd
        UNION ALL
        SELECT
        '1' AS tab_type, T.receive_id, T.store_cd, T.order_id, T.org_order_id, T.vendor_id, T.delivery_type_cd,
        T.delivery_center_id, T.delivery_area_cd, T.shipment, T.order_type, T.order_method, T.payment_type,
        T.promotion_id, T.order_date, T.delivery_date, T.expire_date, T.receive_date, T.vendor_address,
        T.store_address, T.order_sts, T.nr_flg, T.order_remark, T.purchase_vat_cd, T.tax_rate, T.order_amt,
        T.order_tax, T.receive_amt, T.receive_tax, T.upload_flg, T.upload_date, T.create_user_id, T.create_ymd,
        T.create_hms, T.update_user_id, T.update_ymd, T.update_hms, T.update_screen_id, T.update_ip_address,
        T.nr_update_flg, T.nr_ymd, T.nr_hms, T.order_differentiate, T.n_reviewid, T.review_status, T.multiple_flg,
        T1.store_name
        FROM (
        SELECT * FROM (
        SELECT
        receive_id, store_cd, order_id, receive_amt,
        receive_tax, create_ymd AS receive_date,
        create_user_id, create_ymd, create_hms
        FROM OD0000_T
        <where>
            <if test="receiveId != null and receiveId != ''">
                AND receive_id LIKE CONCAT('%',#{receiveId,jdbcType=VARCHAR},'%')
            </if>
            <if test="receivingStartDate != null and receivingStartDate != ''">
                AND create_ymd >= #{receivingStartDate,jdbcType=VARCHAR}
            </if>
            <if test="receivingEndDate != null and receivingEndDate != ''">
                AND #{receivingEndDate,jdbcType=VARCHAR} >= create_ymd
            </if>
        </where>
        ) O
        JOIN (
        SELECT
        store_cd AS temp3, order_id AS temp4, org_order_id, vendor_id, delivery_type_cd,
        delivery_center_id, delivery_area_cd, shipment, order_type, order_method, payment_type,
        promotion_id, order_date, delivery_date, expire_date, vendor_address, store_address,
        order_sts, nr_flg, order_remark, purchase_vat_cd, tax_rate, order_amt, order_tax,
        upload_flg, upload_date, update_user_id, update_ymd, update_hms, update_screen_id,
        update_ip_address, nr_update_flg, nr_ymd, nr_hms, order_differentiate, n_reviewid,
        review_status, multiple_flg
        FROM OD0000
        <if test="itemId != null and itemId != ''">
            JOIN (
            SELECT store_cd AS temp1, order_id AS temp2, article_id FROM OD0010
            ) O1
            ON store_cd = O1.temp1 AND order_id = O1.temp2
        </if>
        WHERE order_differentiate = '0'
        <include refid="selectReceiptCondition"></include>
        )O2
        ON O.store_cd = O2.temp3 AND O.order_id = O2.temp4
        )T
        LEFT JOIN (
        SELECT store_cd, store_name FROM MA1000
        ) T1
        ON T.store_cd = T1.store_cd
        ) A
        ORDER BY order_date DESC, order_id DESC, tab_type, create_ymd, create_hms DESC
    </select>
</mapper>